{
  "openapi": "3.1.0",
  "info": {
    "title": "PlanetSide 2 API",
    "summary": "Public API for PlanetSide 2 community developers",
    "description": "Unofficial API specification for [PlanetSide 2](https://www.planetside2.com/) as made available through the [Daybreak Game Company Census API](https://census.daybreakgames.com/).\n\nThese API specs are not affiliated with Daybreak Game Company, Rogue Planet Games, or the PlanetSide 2 developer team and come with absolutely no warranty.",
    "termsOfService": "https://census.daybreakgames.com#services-api-policy",
    "contact": {
      "name": "Project Homepage",
      "url": "https://github.com/leonhard-s/ps2-api-docs"
    },
    "version": "0.3"
  },
  "jsonSchemaDialect": "https://spec.openapis.org/oas/3.1/dialect/base",
  "externalDocs": {
    "description": "Official documentation for the documentation for the PlanetSide 2 API.",
    "url": "https://census.daybreakgames.com/"
  },
  "servers": [
    {
      "url": "https://census.daybreakgames.com",
      "description": "Casual-use Daybreak Games endpoint, throttled to 10 requests per minute and IP address"
    },
    {
      "url": "https://census.daybreakgames.com/{serviceId}",
      "description": "Production Daybreak Games endpoint, with service ID",
      "variables": {
        "serviceId": {
          "enum": [
            "s:example"
          ],
          "default": "s:example",
          "description": "Unique string used to identify a given consumer on the API. The default value of `s:example` underlies the same rate limits as the endpoint without service ID information. A custom service ID can be requested via [this form](https://census.daybreakgames.com/#devSignup)."
        }
      }
    },
    {
      "url": "https://census.lithafalcon.cc",
      "description": "Unofficial Community endpoint for static data.\nVisit the project URL for details."
    }
  ],
  "tags": [
    {
      "name": "Game-Agnostic Endpoints",
      "description": "Generic documentation of the Census API endpoints available for all games. The PlanetSide 2 endpoints are listed separtely to provide more detail, but they generally also support the full set of query parameters and commands list here. For a list of exceptions, see the [\"Special\" PS2 Collections](https://census.daybreakgames.com/#special-collections) section of the Census API documentation."
    },
    {
      "name": "Character Information",
      "description": "Collections related to PlanetSide 2 character information and lookups."
    },
    {
      "name": "Basics",
      "description": "General information about factions, classes, continents, and servers in PlanetSide 2."
    },
    {
      "name": "Player Outfits",
      "description": "Collections related to PlanetSide 2 outfits and outfit membership."
    },
    {
      "name": "Statistics",
      "description": "Collections concerning character statistics for weapon, classes, or vehicles."
    },
    {
      "name": "Leaderboards",
      "description": "Global or server-wide leaderboards for select statistics."
    },
    {
      "name": "Items & Bundles",
      "description": "Collections related to item enumeration and availability, as well as the in-game depot."
    },
    {
      "name": "Weapons & Firing Mechanics",
      "description": "Weapon and firing mechanics data, including fire modes, projectiles, and ammo types."
    },
    {
      "name": "Vehicles",
      "description": "Collections related to vehicles, attachments, and vehicle certifications."
    },
    {
      "name": "Damage Calculation",
      "description": "Armor values and resistances."
    },
    {
      "name": "Effects & Abilities",
      "description": "Collections related to abilities, effects, their types and consumed resources."
    },
    {
      "name": "Certifications & A.S.P.",
      "description": "Collections related to certification trees and A.S.P. skills."
    },
    {
      "name": "Progression",
      "description": "Collections related to in-game progression, such as directives, weapon medals, titles, and service ribbons."
    },
    {
      "name": "Map Data",
      "description": "Collections related to map rendering, such as facility types, lattice links, and map hexes."
    },
    {
      "name": "Image Assets",
      "description": "Image sets, icons and other assets available through the static `/files/` path."
    },
    {
      "name": "Metagame & Alerts",
      "description": "Endpoints related to in-game alerts, outfit wars, and other large-scale events."
    },
    {
      "name": "Event History",
      "description": "ReST interface for in-game events, such as kills, deaths, and battle rank gains."
    }
  ],
  "security": [],
  "paths": {
    "/get/{game}": {
      "get": {
        "summary": "Listing available collections",
        "description": "Return a list of all collections available for the current game namespace.\n\nThe keys in the entries' `resolve_list` field can be passed to the `c:resolve` parameter when accessing the respective collection to insert additional data into the response payload.\n\nNote that while the examples only show a single record, this endpoint cannot be filtered and always returns all results.",
        "tags": [
          "Game-Agnostic Endpoints"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}.yaml"
              }
            }
          }
        }
      }
    },
    "/count/{game}/{collection}": {
      "get": {
        "summary": "Get the number of records in a collection",
        "description": "Instead of returning the given results directly, this endpoint returns the number of results.\n\nThis is especially useful for large collections which cannot be fetched in full, such as `ps2/character`. This endpoint still supports filtering by parameters, as well as some query commands such as `c:has`.\n\nConsumers may also want to query the result count for a given query before fetching to decide whether to paginate the response.",
        "tags": [
          "Game-Agnostic Endpoints"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/collectionParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/count/{game}/{collection}.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/{collection}": {
      "get": {
        "summary": "Retrieve results from a collection",
        "description": "This endpoint documents generic parameters available on most collections. For details on collection-specific variables and response schemas, please see the respective collection's query entry.",
        "tags": [
          "Game-Agnostic Endpoints"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/collectionParam.yaml"
          },
          {
            "$ref": "parameters/qcShowParam.yaml"
          },
          {
            "$ref": "parameters/qcHideParam.yaml"
          },
          {
            "$ref": "parameters/qcSortParam.yaml"
          },
          {
            "$ref": "parameters/qcHasParam.yaml"
          },
          {
            "$ref": "parameters/qcResolveParam.yaml"
          },
          {
            "$ref": "parameters/qcCaseParam.yaml"
          },
          {
            "$ref": "parameters/qcLimitParam.yaml"
          },
          {
            "$ref": "parameters/qcLimitPerDbParam.yaml"
          },
          {
            "$ref": "parameters/qcStartParam.yaml"
          },
          {
            "$ref": "parameters/qcIncludeNullParam.yaml"
          },
          {
            "$ref": "parameters/qcLangParam.yaml"
          },
          {
            "$ref": "parameters/qcJoinParam.yaml"
          },
          {
            "$ref": "parameters/qcTreeParam.yaml"
          },
          {
            "$ref": "parameters/qcTimingParam.yaml"
          },
          {
            "$ref": "parameters/qcExactMatchFirstParam.yaml"
          },
          {
            "$ref": "parameters/qcDistinctParam.yaml"
          },
          {
            "$ref": "parameters/qcRetryParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/{collection}.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/ability": {
      "get": {
        "summary": "Ability",
        "description": "An ability triggered by a character or vehicle.\n\nAbilities in the API are more generic than the in-game abilities and also cover other mechanics such as scopes and consumables.\n\nThe generic fields `paramX` and `stringX` are documented in the the corresponding `ps2/ability_type` entry.",
        "tags": [
          "Effects & Abilities"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/abilityIdParam.yaml"
          },
          {
            "$ref": "parameters/abilityTypeIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/ability.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/ability_type": {
      "get": {
        "summary": "Ability Type",
        "description": "A type of ability.\n\nThe generic fields `paramX` and `stringX` are documented here. Note that most of these generic fields are currently not used.",
        "tags": [
          "Effects & Abilities"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/abilityTypeIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/ability_type.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/achievement": {
      "get": {
        "summary": "Achievements",
        "description": "Endpoint for weapon medals and service ribbons.\n\nThere is no \"achievement type\" collection or field, but they can be grouped by the `repeatable` field, which is only true for service ribbons.",
        "tags": [
          "Progression"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/achievementIdParam.yaml"
          },
          {
            "$ref": "parameters/itemIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/achievement.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/character": {
      "get": {
        "summary": "Character",
        "description": "Game-specific documentation for the `character` collection.\n\nThis collection is randomly distributed across 20 different databases, causing some unusual behaviour when filtering. For example, the `c:distinct` parameter will fetch the distinct values for each database and aggregate them in the response, resulting in duplicate entries. This and other special cases are documented with the corresponding query command parameters in the `General` section.\n\nIn addition to the commonly-used parameters provided, this endpoint may be queried by any of its fields, including sub-keys like `times.creation`.",
        "tags": [
          "Character Information"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/qcLimitPerDbParam.yaml"
          },
          {
            "$ref": "parameters/characterIdParam.yaml"
          },
          {
            "$ref": "parameters/characterNameFirstParam.yaml"
          },
          {
            "$ref": "parameters/characterNameFirstLowerParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/character.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/currency": {
      "get": {
        "summary": "Currency",
        "description": "Lists currencies available in the game.\n\nAs of 2023-06-13, the only currency available are Nanites. Outfit resources and other currencies such as Daybreak Cash, ISO-4, or A7 are not available on the API, while Cert Points and A.S.P. tokens are stored in the `character` collection.",
        "tags": [
          "Basics"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/currencyIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/currency.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/armor_facing": {
      "get": {
        "summary": "Armor Facing",
        "description": "Enumerates the armor facing angles used for directional damage reduction on vehicles.",
        "tags": [
          "Damage Calculation"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/armorFacingIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/armor_facing.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/armor_info": {
      "get": {
        "summary": "Armor Info",
        "description": "A set of armor values for each armor facing angle on a vehicle.",
        "tags": [
          "Damage Calculation"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/armorInfoIdParam.yaml"
          },
          {
            "$ref": "parameters/armorFacingIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/armor_info.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/character_name": {
      "get": {
        "summary": "Character Name",
        "description": "Optimized, low-bandwidth endpoint for character name resolution.",
        "tags": [
          "Character Information"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/characterIdParam.yaml"
          },
          {
            "$ref": "parameters/characterNameFirstParam.yaml"
          },
          {
            "$ref": "parameters/characterNameFirstLowerParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/character_name.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/characters_achievement": {
      "get": {
        "summary": "Character Achievements",
        "description": "List the achievement progress for a character.",
        "tags": [
          "Character Information"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/characterIdParam.yaml"
          },
          {
            "$ref": "parameters/achievementIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/characters_achievement.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/characters_currency": {
      "get": {
        "summary": "Character Currency",
        "description": "Lists the currencies owned by a character.\n\nNote that this table has been inconsistent since the introduction of the A.S.P. system: in addition to the currency value (Nanites), an extra `prestige_currency` key has been added, rather than being its own currency.",
        "tags": [
          "Character Information"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/characterIdParam.yaml"
          },
          {
            "$ref": "parameters/currencyIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/characters_currency.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/characters_directive": {
      "get": {
        "summary": "Character Directives",
        "description": "Directive completion information for a character.\n\nNote that this also lists entries for incomplete directives; use the `completion_time` field to determine whether a directive has been completed.",
        "tags": [
          "Character Information"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/characterIdParam.yaml"
          },
          {
            "$ref": "parameters/directiveTreeIdParam.yaml"
          },
          {
            "$ref": "parameters/directiveIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/characters_directive.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/characters_directive_objective": {
      "get": {
        "summary": "Character Directive Objectives",
        "description": "Current progress of a character within a directive.\n\nThe current value of the directive progress can be found in the `state_data` field of this endpoint. The corresponding target value is found in the corresponding `objective`, usually in the `param1` field.",
        "tags": [
          "Character Information"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/characterIdParam.yaml"
          },
          {
            "$ref": "parameters/directiveIdParam.yaml"
          },
          {
            "$ref": "parameters/objectiveIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/characters_directive_objective.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/characters_directive_tier": {
      "get": {
        "summary": "Character Directive Tier",
        "description": "Directive tier completion information for a character.",
        "tags": [
          "Character Information"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/characterIdParam.yaml"
          },
          {
            "$ref": "parameters/directiveTreeIdParam.yaml"
          },
          {
            "$ref": "parameters/directiveTierIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/characters_directive_tier.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/characters_directive_tree": {
      "get": {
        "summary": "Character Directive Tree",
        "description": "Directive tree completion information for a character.",
        "tags": [
          "Character Information"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/characterIdParam.yaml"
          },
          {
            "$ref": "parameters/directiveTreeIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/characters_directive_tree.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/characters_event": {
      "get": {
        "summary": "Character Event",
        "description": "ReST endpoint for retrieving historical character event data.\n\nLike `event`, but allows querying by character. The `character_id` and `id` fields are interchangeable.",
        "tags": [
          "Event History"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/characterIdParam.yaml"
          },
          {
            "$ref": "parameters/characterEventCharacterIdParam.yaml"
          },
          {
            "$ref": "parameters/characterEventTypeParam.yaml"
          },
          {
            "$ref": "parameters/beforeParam.yaml"
          },
          {
            "$ref": "parameters/afterParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/characters_event.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/characters_event_grouped": {
      "get": {
        "summary": "Grouped Character Event",
        "description": "Return character vs. character statistics.\n\nAllows calculating player vs. player KDR.",
        "tags": [
          "Event History"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/characterIdParam.yaml"
          },
          {
            "$ref": "parameters/characterEventsGroupedEventTypeParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/characters_event_grouped.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/characters_friend": {
      "get": {
        "summary": "Friends List",
        "description": "Query the friends list of a character.",
        "tags": [
          "Character Information"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/characterIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/characters_friend.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/characters_item": {
      "get": {
        "summary": "Character Items",
        "description": "Query the items of a character. Note that this collection no longer lists account-wide item unlocks as this served as a fingerprint to identify players across multiple characters.",
        "tags": [
          "Character Information"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/characterIdParam.yaml"
          },
          {
            "$ref": "parameters/itemIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/characters_item.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/characters_leaderboard": {
      "get": {
        "summary": "Character Leaderboard",
        "description": "Query the leaderboard for a character. Note that only the top 10'000 players for a given statistic are tracked in the leaderboard; many characters will not have an entry in this collection.\n\nThe `limit` key inserted into the response indicates the number of requested entries when passing multiple character IDs. Comparison with `returned` may be used to determine whether any characters were skipped due to not being in the leaderboard.",
        "tags": [
          "Leaderboards"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/leaderboardCharacterIdParam.yaml"
          },
          {
            "$ref": "parameters/leaderboardNameParam.yaml"
          },
          {
            "$ref": "parameters/leaderboardPeriodParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/characters_leaderboard.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/characters_online_status": {
      "get": {
        "summary": "Online Status",
        "description": "Query the online status of a character.",
        "tags": [
          "Character Information"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/characterIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/characters_online_status.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/characters_skill": {
      "get": {
        "summary": "Character Skills",
        "description": "List the skills unlocked by a character.",
        "tags": [
          "Character Information"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/characterIdParam.yaml"
          },
          {
            "$ref": "parameters/skillIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/characters_skill.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/characters_stat": {
      "get": {
        "summary": "Character Statistics",
        "description": "Basic statistics endpoint for character-wide and class-specific statistics.\n\n- `stat_name` lists the name of the stat\n- `profile` represents the class, with a value of 0 denoting a character-wide value",
        "tags": [
          "Statistics"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/characterIdParam.yaml"
          },
          {
            "$ref": "parameters/statNameParam_characters_stat.yaml"
          },
          {
            "$ref": "parameters/profileIdParam_character.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/characters_stat.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/characters_stat_by_faction": {
      "get": {
        "summary": "Character Statistics by Faction",
        "description": "Faction-specific statistics endpoint. Useful for determining faction bias or kill spread.\n\n- `stat_name` lists the name of the stat\n- `profile` represents the class, with a value of 0 denoting a character-wide value\n\nAll `value_*` fields are provided per-faction. Note that the value for the own faction is often blanked: `value_nc` of the stat `kills` cannot be used to enumerate an NC character's team kills, for example.",
        "tags": [
          "Statistics"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/characterIdParam.yaml"
          },
          {
            "$ref": "parameters/statNameParam_characters_stat_by_faction.yaml"
          },
          {
            "$ref": "parameters/profileIdParam_character.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/characters_stat_by_faction.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/characters_stat_history": {
      "get": {
        "summary": "Historical Statistics",
        "description": "Statistics endpoint for historical character stats. In addition to the `all_time` and `one_life_max` keys, values are also provided for the last 31 days (`day`), 12 months (`month`), or 13 weeks (`week`).\n\n- `stat_name` lists the name of the stat\n- `profile` represents the class, with a value of 0 denoting a character-wide value.",
        "tags": [
          "Statistics"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/characterIdParam.yaml"
          },
          {
            "$ref": "parameters/statNameParam_characters_stat_history.yaml"
          },
          {
            "$ref": "parameters/profileIdParam_character.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/characters_stat_history.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/characters_weapon_stat": {
      "get": {
        "summary": "Weapon Statistics",
        "description": "Weapon statistics endpoint containing generic values such as playtime or score while wielding. The most common use is calculating the accuracy of a player with a given weapon by dividing `weapon_hit_count` by `weapon_fire_count`.\n\n- `stat_name` lists the name of the stat\n- `item_id` identifies the item for the weapon. Note that this value can be zero, in that case it serves as a catch-all for all weapons for the given `vehicle_id`.\n- `vehicle_id` the vehicle on which the weapon is available.",
        "tags": [
          "Statistics"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/characterIdParam.yaml"
          },
          {
            "$ref": "parameters/statNameParam_characters_weapon_stat.yaml"
          },
          {
            "$ref": "parameters/itemIdParam.yaml"
          },
          {
            "$ref": "parameters/vehicleIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/characters_weapon_stat.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/characters_weapon_stat_by_faction": {
      "get": {
        "summary": "Weapon Statistics By Faction",
        "description": "Faction-specific weapon statistics endpoint containing combat-focussed stats such as kills, deaths, headshots and damage dealt/taken.\n\n- `stat_name` lists the name of the stat\n- `item_id` identifies the item for the weapon. Note that this value can be zero, in that case it serves as a catch-all for all weapons for the given `vehicle_id`.\n- `vehicle_id` the vehicle on which the weapon is available.",
        "tags": [
          "Statistics"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/characterIdParam.yaml"
          },
          {
            "$ref": "parameters/statNameParam_characters_weapon_stat_by_faction.yaml"
          },
          {
            "$ref": "parameters/itemIdParam.yaml"
          },
          {
            "$ref": "parameters/vehicleIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/characters_weapon_stat_by_faction.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/characters_world": {
      "get": {
        "summary": "Character Server Lookup",
        "description": "Query the server a character is on.",
        "tags": [
          "Character Information"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/characterIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/characters_world.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/directive": {
      "get": {
        "summary": "Directive",
        "description": "An individual directive that may be completed by a player.\n\nThis collection lists an individual directive, such as \"100 Roadkills\".",
        "tags": [
          "Progression"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/directiveIdParam.yaml"
          },
          {
            "$ref": "parameters/directiveTreeIdParam.yaml"
          },
          {
            "$ref": "parameters/directiveTierIdParam.yaml"
          },
          {
            "$ref": "parameters/objectiveSetIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/directive.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/directive_tier": {
      "get": {
        "summary": "Directive Tier",
        "description": "A completion tier within a directive tree.\n\nThis covers the individual stages of directive tiers, such as \"Combat Medic: Adept\".",
        "tags": [
          "Progression"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/directiveTreeIdParam.yaml"
          },
          {
            "$ref": "parameters/directiveTierIdParam.yaml"
          },
          {
            "$ref": "parameters/rewardSetIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/directive_tier.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/directive_tree": {
      "get": {
        "summary": "Directive Tree",
        "description": "A tree of directives sorted into multiple tiers.\n\nThis collection represents the individual paths within a directive category, such as \"Light Assault\" or \"Combat Medic\".",
        "tags": [
          "Progression"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/directiveTreeIdParam.yaml"
          },
          {
            "$ref": "parameters/directiveTreeCategoryIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/directive_tree.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/directive_tree_category": {
      "get": {
        "summary": "Directive Tree Category",
        "description": "Top-level categorisation of directive trees.\n\nThis covers the main sections in the Directive menu, such as \"Infantry\", \"Vehicles\", or \"Events\".",
        "tags": [
          "Progression"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/directiveTreeCategoryIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/directive_tree_category.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/empire_scores": {
      "get": {
        "summary": "(Defunct) Empire Scores",
        "description": "Defunct endpoint for the \"World Domination Series\" event scores.",
        "tags": [
          "Metagame & Alerts"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/empire_scores.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/effect": {
      "get": {
        "summary": "Effect",
        "description": "A weapon-based effect acting on players or vehicles.\n\nWeapon-based effects include direct and indirect damage effects, tactical grenade impacts, as well as pseudo-weapons such as the Medic tool or Engineer repair tool. For world-based effects, weapon attachments and buffs, see the `ps2/zone_effect` collection instead.\n\nSee the `ps2/effect_type` collection for a list of available effect types.",
        "tags": [
          "Effects & Abilities"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/effectIdParam.yaml"
          },
          {
            "$ref": "parameters/effectTypeIdParam.yaml"
          },
          {
            "$ref": "parameters/abilityIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/effect.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/effect_type": {
      "get": {
        "summary": "Effect Type",
        "description": "A type of effect.\n\nThe generic fields `paramX` and `stringX` are documented here. Note that not all fields are used by all effect types, or at all.",
        "tags": [
          "Effects & Abilities"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/effectTypeIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/effect_type.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/event": {
      "get": {
        "summary": "Event",
        "description": "ReST endpoint for retrieving historical event data.\n\nThese largely mirror the corresponding events in the ESS:\n\n- `ItemAdded` -> `ITEM`\n- `Death` -> `KILL`/`DEATH`\n- `BattleRankUp` -> `BATTLE_RANK`\n- `PlayerFacilityCapture`/`PlayerFacilityDefend` -> `FACILITY_CHARACTER`\n- `AchievementEarned` -> `ACHIEVEMENT`\n- `FacilityControl` -> `FACILITYCONTROL`\n- `MetagameEvent` -> `METAGAME`",
        "tags": [
          "Event History"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/eventTypeParam.yaml"
          },
          {
            "$ref": "parameters/beforeParam.yaml"
          },
          {
            "$ref": "parameters/afterParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/event.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/experience": {
      "get": {
        "summary": "Experience",
        "description": "Lists the different types of experience ticks.",
        "tags": [
          "Basics"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/experienceIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/experience.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/experience_rank": {
      "get": {
        "summary": "Experience Rank",
        "description": "Player rank gained through leveling up.\n\nNote that the `rank` field is not unique, as each rank is duplicated for each prestige (aka. A.S.P.) level. The prestige entries can only be distinguished by their icons.",
        "tags": [
          "Progression"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/experience_rank.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/facility_link": {
      "get": {
        "summary": "Facility Link",
        "description": "Resolves lattice links between facilities.\n\nThere is no reliable difference between `facility_id_a` and `facility_id_b`; the former tends to be closer to the respective warpgate, but this does not hold true for all links. It is recommended to treat the link direction as arbitrary.",
        "tags": [
          "Map Data"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/facilityIdAParam.yaml"
          },
          {
            "$ref": "parameters/facilityIdBParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/facility_link.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/facility_type": {
      "get": {
        "summary": "Facility Type",
        "description": "Lists all facility types across all zones and game modes.",
        "tags": [
          "Map Data"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/facilityTypeIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/facility_type.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/faction": {
      "get": {
        "summary": "Faction",
        "description": "Playable and NPC factions.",
        "tags": [
          "Basics"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/factionIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/faction.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/fire_group": {
      "get": {
        "summary": "Fire Group",
        "description": "Fire groups in the API are synonymous with fire modes in-game, they represent the different operating modes some weapons can switch between.\n\nThis includes select-fire modes for infantry weapons, as well as knives switching between quick knife, wielded knive, and - in the case of power knives - the one-hit-kill mode.",
        "tags": [
          "Weapons & Firing Mechanics"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/fireGroupIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/fire_group.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/fire_mode": {
      "get": {
        "summary": "Fire Mode (Legacy)",
        "description": "**Note:** This table has been largely superceded by `ps2/fire_mode_2`, which contains additional and more accurate information about firing mechanics.\n\nThis endpoint shows detailed information about a given fire mode for a weapon, including damage ranges, muzzle velocity, and reload time.\n\nFor details on the cone-of-fire mechanics, resolve the `player_state_group_id` field.",
        "tags": [
          "Weapons & Firing Mechanics"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/fireModeIdParam.yaml"
          },
          {
            "$ref": "parameters/itemIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/fire_mode.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/fire_mode_2": {
      "get": {
        "summary": "Fire Mode",
        "description": "Main endpoint for baseline weapon characteristics and firing mechanics. This includes:\n\n- Damage effects and ranges\n- Recoil magnitude and pattern\n- Triggered abilities for pseudo-weapons such as the medical applicator\n- Ammunition consumption and pellet count\n- Heat-mechanics\n\nBe aware that lockon information is currently disconnected from the game data and has not been outdated. Refer to the PS2 Wiki for up-to-date information for the time being.",
        "tags": [
          "Weapons & Firing Mechanics"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/fireModeIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/fire_mode_2.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/fire_mode_to_projectile": {
      "get": {
        "summary": "Fire Mode to Projectile",
        "description": "Maps fire modes to their projectiles.",
        "tags": [
          "Weapons & Firing Mechanics"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/fireModeIdParam.yaml"
          },
          {
            "$ref": "parameters/itemIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/fire_mode_to_projectile.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/fire_mode_type": {
      "get": {
        "summary": "Fire Mode Type",
        "description": "Enumeration of the types of fire modes.\n\nThis servers to differentiate between melee attacks, projectile weapons, throwables, and pseudo-weapon fire modes used to trigger activated items.",
        "tags": [
          "Weapons & Firing Mechanics"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/fireModeTypeIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/fire_mode_type.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/image": {
      "get": {
        "summary": "Image",
        "description": "Lists individual image assets available on the API.\n\nNote that historically, not all assets listed here are available on the image endpoint, and not all available assets are listed.",
        "tags": [
          "Image Assets"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/imageIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/image.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/image_set": {
      "get": {
        "summary": "Image Set",
        "description": "Lists related image assets belonging to the same set.\n\nNote that this endpoint is a mapping; the `iamge_set_id` is not a unique key. The individual image types in a set are generally used to provide different sizes of the same image (e.g. icon previes or minimal icons).",
        "tags": [
          "Image Assets"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/imageSetIdParam.yaml"
          },
          {
            "$ref": "parameters/imageIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/image_set.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/image_set_default": {
      "get": {
        "summary": "Image Set Default",
        "description": "Lists the default image for a given image set.",
        "tags": [
          "Image Assets"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/imageSetIdParam.yaml"
          },
          {
            "$ref": "parameters/imageIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/image_set_default.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/item": {
      "get": {
        "summary": "Items",
        "description": "Items in PlanetSide 2 are used to represent weapons, tools, and consumables, but also cosmetic items and internal control objects for player renaming or outfit resource consumption. Use the `item_type` collection to narrow searches to specific types.",
        "tags": [
          "Items & Bundles"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/itemIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/item.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/item_attachment": {
      "get": {
        "summary": "Item Attachments",
        "description": "Maps attachment items to the items they can be attached to.",
        "tags": [
          "Items & Bundles"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/itemIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/item_attachment.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/item_category": {
      "get": {
        "summary": "Item Categories",
        "description": "Item categories are used to group items together for display in the loadout screen or depot.",
        "tags": [
          "Items & Bundles"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/itemCategoryIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/item_category.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/item_profile": {
      "get": {
        "summary": "Item-Class Mapping",
        "description": "Maps items to profiles (classes/vehicles) that have access to them.",
        "tags": [
          "Items & Bundles"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/itemIdParam.yaml"
          },
          {
            "$ref": "parameters/profileIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/item_profile.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/item_to_weapon": {
      "get": {
        "summary": "Item-Weapon Mapping",
        "description": "Maps items (including name, availability) to its respective weapon object\n\nNot all items have a weapon objects, though some filtering can be done through the `item_type_id` field, with the ID 26 representing most weapon types.",
        "tags": [
          "Items & Bundles"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/itemIdParam.yaml"
          },
          {
            "$ref": "parameters/weaponIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/item_to_weapon.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/item_type": {
      "get": {
        "summary": "Item Types",
        "description": "Items in PlanetSide 2 represent many different things beyond weapons, such as implant packs, cosmetics, or name change tokens. They are also used as internal helpers when pulling outfit resources, spawning vehicles, or interacting with certain terminals.\n\nThis collection lists the different item types, though many of these are never encountered on the API.",
        "tags": [
          "Items & Bundles"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/itemTypeIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/item_type.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/leaderboard": {
      "get": {
        "summary": "Global Leaderboard",
        "description": "Global leaderboard for a given server. This only includes the top 10'000 players for a given category and is not directly searchable. See `characters_leaderboard` to look up a character's ranking.\n\n`c:start` and `c:limit` are supported and allow for pagination. `c:join` and `c:tree` are also permitted. Any other query commands will be silently ignored.\n\nUnlike most other tables, this one defaults to a `c:limit` value of 10 and is always sorted in ascending order of leaderboard rank.",
        "tags": [
          "Leaderboards"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/leaderboardNameParam.yaml"
          },
          {
            "$ref": "parameters/leaderboardPeriodParam.yaml"
          },
          {
            "$ref": "parameters/worldIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/leaderboard.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/loadout": {
      "get": {
        "summary": "Loadout",
        "description": "Enumeration of the six infantry classes for each playable faction.\n\nNote that this is different from the in-game loadouts, which are not available on the API.",
        "tags": [
          "Basics"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/loadoutIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/loadout.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/map": {
      "get": {
        "summary": "Map",
        "description": "Map status endpoint.\n\nThis collection can only be queried with a single `world_id` and any number of `zone_ids` (note that the parameter is plural). Also note the non-standard payload format requiring different parsing rules.\n\nFor partially locked continents, the unavailable regions will report a `FactionId` of zero.",
        "tags": [
          "Map Data"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/worldIdParam.yaml"
          },
          {
            "name": "zone_ids",
            "in": "query",
            "description": "Unique identifier of a zone.",
            "schema": {
              "type": "string"
            },
            "x-cast-to": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/map.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/map_hex": {
      "get": {
        "summary": "Map Hex",
        "description": "Endpoint for retrieving map hex coordinates.\n\nThis data can be used to reconstruct the in-game facility outlines from API data.\n\nThe X and Y coordinates listed in the entries to this collection are not Cartesian and do not match up with the `location_<n>` fields of `map_region`. Instead, they are describing locations in a non-orthogonal hexagonal grid, which must be converted by the user.\n\nThis website has a great write-up on hexagonal coordinate systems: <https://www.redblobgames.com/grids/hexagons/>\nThe coordinate system used by PlanetSide 2 matches the \"Axial coordinates\" described in the article, except that the first coordinate X faces east, and the second coordinate Y faces up and to the right at a 60\u00b0 angle.",
        "tags": [
          "Map Data"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/mapRegionIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/map_hex.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/map_region": {
      "get": {
        "summary": "Map Region",
        "description": "A region on the in-game map.\n\nMap regions are largely identical to their corresponding regions, but use the internal `facility_name` instead of a localized string. A `map_region_id` and `region_id` are interchangeable.\n\nAdditionally, this collection allows connecting facilities to map region IDs.\n\nNote that the continuous outfit resource gain is listed in \"ticks\", not minutes. Ticks are 5 minutes as of writing, meaning that a Tech Plant will list a tick reward of 8 Synthium, corresponding to the 1.6 Synthium per minute advertised in-game.",
        "tags": [
          "Map Data"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/mapRegionIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/map_region.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/marketing_bundle": {
      "get": {
        "summary": "Bundles",
        "description": "Bundles available for purchase in the in-game store (Depot). This collection represents actual bundles. For pseudo-bundles used to purchase individual weapon attachments or cosmetics, see the `marketing_bundle_with_1_item` collection instead.\n\nNote that there is no guaranteed way of determining whether a given bundle is currently available for purchase. This collection contains many entries for defunct items and bundles, such as the single-use camos from the early days of the game.\n\nThis collection is automatically maintained and generally accurate with regards to certification prices, the daybreak/station cash values are generally less reliable.",
        "tags": [
          "Items & Bundles"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/marketingBundleIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/marketing_bundle.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/marketing_bundle_item": {
      "get": {
        "summary": "Items Available in Bundles",
        "description": "Maps marketing bundles to the items they contain.",
        "tags": [
          "Items & Bundles"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/marketingBundleIdParam.yaml"
          },
          {
            "$ref": "parameters/itemIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/marketing_bundle_item.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/marketing_bundle_with_1_item": {
      "get": {
        "summary": "Individual Item Bundles",
        "description": "These are pseudo-bundles with exactly 1 item each, allowing players to buy individual weapons or cosmetics with Daybreak Cash (formerly Station Cash).\n\nNote that in the case of weapons, these bundles are genreally mirrored by 'regular' bundles in the `ps2/marketing_bundle` collection, with the same `marketing_bundle_id`.",
        "tags": [
          "Items & Bundles"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/marketingBundleIdParam.yaml"
          },
          {
            "$ref": "parameters/itemIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/marketing_bundle_with_1_item.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/metagame_event": {
      "get": {
        "summary": "Metagame Event",
        "description": "In-game alerts and other alert-like events.\n\nNote that this endpoint lists alert types that are not currently enabled in-game, such as the 'Aerial Anomaly' and 'MAXimum Pressure' alert types.",
        "tags": [
          "Metagame & Alerts"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/metagameEventIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/metagame_event.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/metagame_event_state": {
      "get": {
        "summary": "Metagame Event State",
        "description": "Enumeratess the available states for alerts.",
        "tags": [
          "Metagame & Alerts"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/metagameEventStateIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/metagame_event_state.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/objective": {
      "get": {
        "summary": "Objective",
        "description": "An objective tracking progress towards a directive, mission, or achievement.\n\nSee the `ps2/objective_type` collection for a list of available objective types.",
        "tags": [
          "Progression"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/objectiveIdParam.yaml"
          },
          {
            "$ref": "parameters/objectiveTypeIdParam.yaml"
          },
          {
            "$ref": "parameters/objectiveGroupIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/objective.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/objective_set_to_objective": {
      "get": {
        "summary": "Objective Set Map",
        "description": "Maps objective sets to objective groups.\n\nThis collection is peculiar as neither of the types it connects are available on the API. It is however essential for connecting the `ps2/directive` collection to `ps2/objective` and `ps2/objective_type`.\n\nNote that when joining to these queries, the `^on:` and `^to:` fields must be used to specify the relationship.",
        "tags": [
          "Progression"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/objectiveSetIdParam.yaml"
          },
          {
            "$ref": "parameters/objectiveGroupIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/objective_set_to_objective.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/objective_type": {
      "get": {
        "summary": "Objective Type",
        "description": "A type of objective.\n\nThe generic `paramX` fields are documented here. Note that not all fields are used by all objective types, or at all.",
        "tags": [
          "Progression"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/objectiveTypeIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/objective_type.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/outfit": {
      "get": {
        "summary": "Outfit",
        "description": "A player-run outfit or clan.",
        "tags": [
          "Player Outfits"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/outfitIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/outfit.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/outfit_member": {
      "get": {
        "summary": "Outfit Member",
        "description": "Outfit membership information for a givne character. Characters that are not members of any outfit will not have an entry in this collection.",
        "tags": [
          "Player Outfits"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/characterIdParam.yaml"
          },
          {
            "$ref": "parameters/outfitIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/outfit_member.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/outfit_member_extended": {
      "get": {
        "summary": "Outfit Member (Extended)",
        "description": "Another variant of the `ps2/outfit_member` collection, but with the contents of the corresponding `ps2/outfit` merged in. This is useful for bulk lookups of outfit information for heterogenous lists of characters without requiring the explicit use of `c:join` or `c:resolve`.",
        "tags": [
          "Player Outfits"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/characterIdParam.yaml"
          },
          {
            "$ref": "parameters/outfitIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/outfit_member_extended.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/outfit_rank": {
      "get": {
        "summary": "Custom Outfit Rank",
        "description": "Outfits can define their own custom rank names and permissions, which are listed here. Outfits using the default rank names may not have an entry here.",
        "tags": [
          "Player Outfits"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/outfitIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/outfit_rank.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/profile": {
      "get": {
        "summary": "Profile (Infantry)",
        "description": "Original endpoint for infantry profiles. This covers the names and loadout IDs connected to a given profile, and additionally provides movement speed multiplier information for infantry classes. Note that the key fields are also provided by `ps2/profile_2`, which not only covers infantry but also vehicles, deployables, and other entities.",
        "tags": [
          "Basics"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/profileIdParam.yaml"
          },
          {
            "$ref": "parameters/loadoutIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/profile.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/profile_2": {
      "get": {
        "summary": "Profile (All)",
        "description": "Extended profile endpoint containing all entity types, including NPCs, construction items, and deployables.",
        "tags": [
          "Basics"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/profileIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/profile_2.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/profile_armor_map": {
      "get": {
        "summary": "Profile Armor Map",
        "description": "Maps profiles to the relevant `ps2/armor_info` entries.\n\nNote that many of the IDs used here are only available in `ps2/profile_2`. Additionally, armor values only concern vehicles, with infantry and deployable classes not having any entries here.",
        "tags": [
          "Damage Calculation"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/armorInfoIdParam.yaml"
          },
          {
            "$ref": "parameters/profileIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/profile_armor_map.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/profile_resist_map": {
      "get": {
        "summary": "Profile Resist Map",
        "description": "Maps profiles to the relevant `ps2/resist_info` entries. Note that many of the profile IDs used here are only available in the `ps2/profile_2` collection.",
        "tags": [
          "Damage Calculation"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/resistInfoIdParam.yaml"
          },
          {
            "$ref": "parameters/profileIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/profile_resist_map.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/projectile": {
      "get": {
        "summary": "Projectiles",
        "description": "Projectiles specify the travel characteristics of a weapon on its way to the target, such as its speed, its bullet drop, or maximum flight time/distance.\n\nNote that multiple fire modes can use the same projectile. This usually includes the hipfire vs. aimed fire modes, but can also include different weapons altogether.",
        "tags": [
          "Weapons & Firing Mechanics"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/projectileIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/projectile.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/projectile_flight_type": {
      "get": {
        "summary": "Projectile Flight Type",
        "description": "Enumerates the flight types used to categorize projectiles by their travel characteristics.\n\nThis mostly controls whether the projectile is ballistic, Flak-based, or \"Dynamic\", used to represent thrown items such as grenades, explosives, and ammo packs.",
        "tags": [
          "Weapons & Firing Mechanics"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/projectileFlightTypeIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/projectile_flight_type.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/region": {
      "get": {
        "summary": "Region",
        "description": "Display name of the game regions.\n\nThis endpoint mostly contains the localized display name of the a map region. Regions and map regions are interchangeable and governed by the same IDs.",
        "tags": [
          "Map Data"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/regionIdParam.yaml"
          },
          {
            "$ref": "parameters/zoneIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/region.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/resist_info": {
      "get": {
        "summary": "Resist Info",
        "description": "Lists resistances against certain types of damage.",
        "tags": [
          "Damage Calculation"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/resistInfoIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/resist_info.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/resist_type": {
      "get": {
        "summary": "Resist Types",
        "description": "Enumeration of resistance types used to balance damage types against various targets.",
        "tags": [
          "Damage Calculation"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/resistTypeIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/resist_type.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/resource_type": {
      "get": {
        "summary": "Resource Type",
        "description": "Resources consumed by abilities such as the Heavy Overshield.",
        "tags": [
          "Effects & Abilities"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/resourceTypeIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/resource_type.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/reward": {
      "get": {
        "summary": "Reward",
        "description": "",
        "tags": [
          "Progression"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/rewardIdParam.yaml"
          },
          {
            "$ref": "parameters/rewardTypeIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/reward.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/reward_group_to_reward": {
      "get": {
        "summary": "Reward Map",
        "description": "Maps a reward group to one or more rewards.\n\nThis collection, together with `reward_set_to_reward_group`, allows connecting directive tiers to the rewards they grant upon completion.",
        "tags": [
          "Progression"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/rewardIdParam.yaml"
          },
          {
            "$ref": "parameters/rewardGroupIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/reward_group_to_reward.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/reward_set_to_reward_group": {
      "get": {
        "summary": "Reward Set Map",
        "description": "Maps a reward set to its reward group.\n\nThis collection, together with `reward_group_to_reward`, allows connecting directive tiers to the rewards they grant upon completion.",
        "tags": [
          "Progression"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/rewardSetIdParam.yaml"
          },
          {
            "$ref": "parameters/rewardGroupIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/reward_set_to_reward_group.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/reward_type": {
      "get": {
        "summary": "Reward Type",
        "description": "A type of reward.\n\nThe generic `paramX` fields are documented here. Note that not all fields are used by all reward types, or at all.",
        "tags": [
          "Progression"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/rewardTypeIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/reward_type.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/single_character_by_id": {
      "get": {
        "summary": "Single Character By ID",
        "description": "Endpoint for retrieving bulk character stats.\n\nThis endpoint's payload is a superset of `character` and additionally includes data from related `characters_*` collections:\n- `characters_currency`\n- `characters_stat_history`\n- `characters_stat`\n- `characters_stat_by_faction`\n- `characters_weapon_stat`\n- `characters_weapon_stat_by_faction`\n- `characters_items`\n\nThis endpoint is generally faster than querying these collections individually, but it comes with significant bandwidth costs. Note that this endpoint does not support most query commands, and that `c:show` and `c:hide` cannot be used to reduce the amount of data returned.",
        "tags": [
          "Character Information"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/characterIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/single_character_by_id.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/skill": {
      "get": {
        "summary": "Skill",
        "description": "Purchasable skills, such as certifications and A.S.P. skills.",
        "tags": [
          "Certifications & A.S.P."
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/skillIdParam.yaml"
          },
          {
            "$ref": "parameters/skillLineIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/skill.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/skill_line": {
      "get": {
        "summary": "Skill Line",
        "description": "Skill lines represent upgrade paths for skills, such as Ammo Capacity.",
        "tags": [
          "Certifications & A.S.P."
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/skillLineIdParam.yaml"
          },
          {
            "$ref": "parameters/skillCategoryIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/skill_line.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/skill_category": {
      "get": {
        "summary": "Skill Category",
        "description": "Skill categories represent a grouping of skills.\n\nThey usually group skills by the loadout slots for which they provide items, such as \"Passive Systems\" or \"Ability Slot\". On weapons, they generally represent a given attachment slot.",
        "tags": [
          "Certifications & A.S.P."
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/skillCategoryIdParam.yaml"
          },
          {
            "$ref": "parameters/skillSetIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/skill_category.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/skill_set": {
      "get": {
        "summary": "Skill Set",
        "description": "Skill sets represent the top-level grouping of skills.\n\nIn the old certification menu, this would group weapon-related skill lines into a sub-tree beneath the weapon itself.",
        "tags": [
          "Certifications & A.S.P."
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/skillSetIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/skill_set.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/target_type": {
      "get": {
        "summary": "Target Types",
        "description": "Enumerates the target types used to categorize the applicable targets of a weapon or effect.\n\nThis is effectively a constant mapping and can be cached aggressively.",
        "tags": [
          "Damage Calculation"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/targetTypeIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/target_type.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/title": {
      "get": {
        "summary": "Title",
        "description": "Selectable titles for a character.\n\nNote that title IDs of 0 signify no title being selected.",
        "tags": [
          "Character Information"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/titleIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/title.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/vehicle": {
      "get": {
        "summary": "Vehicle",
        "description": "Basic vehicle information such as name, description, and type.\n\nNote that vehicle types are only used internally and are not directly tied to damage mechanics or resistances. Liberators and Galaxies are still considered \"Light Aircraft\" in this endpoint.",
        "tags": [
          "Vehicles"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/vehicleIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/vehicle.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/vehicle_attachment": {
      "get": {
        "summary": "Vehicle Attachments",
        "description": "Maps items to the vehicles and factions that have access to them.\n\nThe `slot_id` field is used to identify where the item is attached to. The below list shows the types of items for each slot as of June 2023:\n\n```\nID   Description\n\n1    Primary Weapon\n2    Secondary Weapon\n3    Ability Slot\n4    Defensive Slot\n5    Chassis / Airframe\n6    Cockpit / Hood Ornament\n7    Camo\n8    Decal\n9    Exterior\n10   Weapon Slot / Catapult\n11   Weapon Slot / Catapult\n12   Afterburner / Nitrous\n13   (Unused)\n14   (Internal: Headlights)\n15   Horn\n16   Trim\n17   Lighting\n18   Hubcaps\n19   Other\n20   Tire Traits / Catapult\n21   Catapult\n22   Catapult\n```\n\nNote that this list is maintained manually and may be out of date. The slot associations are not available on the API.",
        "tags": [
          "Vehicles"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/vehicleIdParam.yaml"
          },
          {
            "$ref": "parameters/factionIdParam.yaml"
          },
          {
            "$ref": "parameters/itemIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/vehicle_attachment.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/vehicle_faction": {
      "get": {
        "summary": "Vehicle Faction Map",
        "description": "Maps vehicles to the factions that have access to them.",
        "tags": [
          "Vehicles"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/vehicleIdParam.yaml"
          },
          {
            "$ref": "parameters/factionIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/vehicle_faction.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/vehicle_skill_set": {
      "get": {
        "summary": "Vehicle Skill Set Map",
        "description": "Maps vehicles to the skill sets that they use.\n\nNote that this relationship is expressed for each faction separetly.",
        "tags": [
          "Vehicles"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/vehicleIdParam.yaml"
          },
          {
            "$ref": "parameters/skillSetIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/vehicle_skill_set.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/weapon": {
      "get": {
        "summary": "Weapon",
        "description": "Baseline weapon data, such as equip times, stock sights, and movement speed modifiers.",
        "tags": [
          "Weapons & Firing Mechanics"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/weaponIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/weapon.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/weapon_ammo_slot": {
      "get": {
        "summary": "Ammo Slots",
        "description": "Ammo slot data for a given weapon, including the clip size, reserve ammo capacity, and resupply behaviour.",
        "tags": [
          "Weapons & Firing Mechanics"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/weaponIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/weapon_ammo_slot.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/weapon_datasheet": {
      "get": {
        "summary": "Weapon Datasheet",
        "description": "**Deprecated:** This table is not directly tied to the underlying fire mode and player state group data and may differ wildly from the true values!\n\nSuggested alternatives for the values provided by this collection are listed as part of the `weapon_datasheet` schema.",
        "tags": [
          "Weapons & Firing Mechanics"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/itemIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/weapon_datasheet.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/weapon_to_attachment": {
      "get": {
        "summary": "Weapon Attachments",
        "description": "Maps weapons to the attachments available to them. This table is largely synonymous with `ps2/item_attachment`, but contains additional entries that may not resolve to a valid item.\n\nFor this reason, it is recommended to base any attachment queries on the `ps2/item_attachment` endpoint instead.",
        "tags": [
          "Weapons & Firing Mechanics"
        ],
        "parameters": [
          {
            "$ref": "parameters/gameParam.yaml"
          },
          {
            "$ref": "parameters/itemIdParam.yaml"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "$ref": "contents/get/{game}/weapon_to_attachment.yaml"
              }
            }
          }
        }
      }
    },
    "/get/{game}/weapon_to_fire_group": {
      "get": {
        "summary": "Weapon Fire Groups",
        "description": "Maps weapons to their set of fire groups. The `fire_group_index` field matches the in-game fire mode selection; hitting 'B' in-game is equivalent to incrementing the index by 1.",
        "tags": [
          "Weapons & Firing Mechanics"
        ],
[...]
