{
    "openapi": "3.0.2",
    "info": {
        "title": "PlanetSide 2 API Reference",
        "description": "These are community-maintained, inofficial docs for the [PlanetSide 2](https://www.planetside2.com/) API.\n\nThis documentation is not endorsed by or affiliated with the PlanetSide 2 developer team or publisher. For more information, visit the project repository at <https://github.com/leonhard-s/ps2-api-docs>.\n\n***\n\n### A note regarding types\n\nAccording to the OpenAPI standard, a quoted integer (e.g. `\"12\"`) should be typed as a `string`.\nHowever, due to the PS2 API quoting nearly every value it returns, following this convention would make the type hints meaningless.\n\nThis specification therefore will type values by what the corresponding field can be cast to, or what it \"should be\".\n",
        "version": "0.1",
        "termsOfService": "https://census.daybreakgames.com#services-api-policy"
    },
    "servers": [
        {
            "url": "https://census.daybreakgames.com/"
        }
    ],
    "components": {
        "schemas": {
            "ability": {
                "description": "An ability triggered by a character or vehicle.\n\nSee to the corresponding ability type for information on generic parameters (`param*`) and strings (`string*`).\n",
                "properties": {
                    "ability_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "description": "Unique identifier."
                    },
                    "ability_type_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "description": "The type of this ability. The ability type defines the basic mechanics of the ability.",
                        "x-reference-to": [
                            "ability_type.ability_type_id"
                        ]
                    },
                    "expire_msec": {
                        "type": "integer",
                        "nullable": true,
                        "description": "The duration of a single-shot ability in milliseconds."
                    },
                    "first_use_delay_msec": {
                        "type": "integer",
                        "nullable": true,
                        "description": "The initial delay before the ability can be used in milliseconds.\n\nAs of April 2021, this field is always 0 or 1 for all abilities. Since an initial cast delay of 1 millisecond makes little sense, this field is likely unused.\n"
                    },
                    "next_use_delay_msec": {
                        "type": "integer",
                        "nullable": true,
                        "description": "The cooldown of a single-shot ability in milliseconds.\n\nThe difference between this field and `reuse_delay_msec` has not been tested yet.\n"
                    },
                    "reuse_delay_msec": {
                        "type": "integer",
                        "nullable": true,
                        "description": "The recharge cooldown for multi-use abilities in milliseconds.\n\nThe difference between this field and `next_use_delay_msec` has not been tested yet.\n"
                    },
                    "resource_type_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "nullable": true,
                        "description": "The type of resource consumed by this ability.",
                        "x-reference-to": [
                            "resource_type.resource_type_id"
                        ]
                    },
                    "resource_first_cost": {
                        "type": "number",
                        "nullable": true,
                        "description": "The initial resource cost when casting the ability."
                    },
                    "resource_cost_per_msec": {
                        "type": "number",
                        "nullable": true,
                        "description": "The continuous resource drain while the ability is active."
                    },
                    "distance_max": {
                        "type": "integer",
                        "nullable": true,
                        "description": "Range of the ability (spherical area of effect)."
                    },
                    "radius_max": {
                        "type": "integer",
                        "nullable": true,
                        "description": "Range of the ability (cylindrical area of effect)."
                    },
                    "flag_toggle": {
                        "type": "integer",
                        "nullable": true,
                        "description": "Whether the ability is channeled and can be toggled on and off."
                    },
                    "param1": {
                        "type": "integer",
                        "nullable": true,
                        "description": "Generic parameter #1."
                    },
                    "param2": {
                        "type": "integer",
                        "nullable": true,
                        "description": "Generic parameter #2."
                    },
                    "param3": {
                        "type": "integer",
                        "nullable": true,
                        "description": "Generic parameter #3."
                    },
                    "param4": {
                        "type": "integer",
                        "nullable": true,
                        "description": "Generic parameter #4."
                    },
                    "param5": {
                        "type": "integer",
                        "nullable": true,
                        "description": "Generic parameter #5."
                    },
                    "param6": {
                        "type": "integer",
                        "nullable": true,
                        "description": "Generic parameter #6."
                    },
                    "param7": {
                        "type": "integer",
                        "nullable": true,
                        "description": "Generic parameter #7."
                    },
                    "param8": {
                        "type": "integer",
                        "nullable": true,
                        "description": "Generic parameter #8."
                    },
                    "param9": {
                        "type": "integer",
                        "nullable": true,
                        "description": "Generic parameter #9."
                    },
                    "param10": {
                        "type": "integer",
                        "nullable": true,
                        "description": "Generic parameter #10."
                    },
                    "param11": {
                        "type": "integer",
                        "nullable": true,
                        "description": "Generic parameter #11."
                    },
                    "param12": {
                        "type": "integer",
                        "nullable": true,
                        "description": "Generic parameter #12."
                    },
                    "param13": {
                        "type": "integer",
                        "nullable": true,
                        "description": "Generic parameter #13."
                    },
                    "param14": {
                        "type": "integer",
                        "nullable": true,
                        "description": "Generic parameter #14."
                    },
                    "string1": {
                        "type": "integer",
                        "nullable": true,
                        "description": "Generic string #1."
                    },
                    "string2": {
                        "type": "integer",
                        "nullable": true,
                        "description": "Generic string #2."
                    },
                    "string3": {
                        "type": "integer",
                        "nullable": true,
                        "description": "Generic string #3."
                    },
                    "string4": {
                        "type": "integer",
                        "nullable": true,
                        "description": "Generic string #4."
                    }
                }
            },
            "ability_type": {
                "description": "Ability types specify the basic function of an ability and are comparable to a sub class in object-oriented programming.\n\nThe `param*` fields in the ability type specify what the corresponding field is used for in abilities of this type. Note that some abilities do populate additional fields whose purpose is not specified by their ability type. Whether these extra fields are bad data or actually used is unknown.\n\nSimilarly, the `string*` fields provide room for custom, ability type specific string fields.\n",
                "properties": {
                    "ability_type_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "description": "Unique identifier."
                    },
                    "description": {
                        "type": "string",
                        "nullable": true,
                        "description": "A brief description of what this ability type is for."
                    },
                    "param1": {
                        "type": "string",
                        "nullable": true,
                        "description": "Description for generic parameter #1."
                    },
                    "param2": {
                        "type": "string",
                        "nullable": true,
                        "description": "Description for generic parameter #2."
                    },
                    "param3": {
                        "type": "string",
                        "nullable": true,
                        "description": "Description for generic parameter #3."
                    },
                    "param4": {
                        "type": "string",
                        "nullable": true,
                        "description": "Description for generic parameter #4."
                    },
                    "param5": {
                        "type": "string",
                        "nullable": true,
                        "description": "Description for generic parameter #5."
                    },
                    "param6": {
                        "type": "string",
                        "nullable": true,
                        "description": "Description for generic parameter #6."
                    },
                    "param7": {
                        "type": "string",
                        "nullable": true,
                        "description": "Description for generic parameter #7."
                    },
                    "param8": {
                        "type": "string",
                        "nullable": true,
                        "description": "Description for generic parameter #8."
                    },
                    "param9": {
                        "type": "string",
                        "nullable": true,
                        "description": "Description for generic parameter #9."
                    },
                    "param10": {
                        "type": "string",
                        "nullable": true,
                        "description": "Description for generic parameter #10."
                    },
                    "param11": {
                        "type": "string",
                        "nullable": true,
                        "description": "Description for generic parameter #11."
                    },
                    "param12": {
                        "type": "string",
                        "nullable": true,
                        "description": "Description for generic parameter #12."
                    },
                    "param13": {
                        "type": "string",
                        "nullable": true,
                        "description": "Description for generic parameter #13."
                    },
                    "param14": {
                        "type": "string",
                        "nullable": true,
                        "description": "Description for generic parameter #14."
                    },
                    "string1": {
                        "type": "string",
                        "nullable": true,
                        "description": "Description for generic string #1."
                    },
                    "string2": {
                        "type": "string",
                        "nullable": true,
                        "description": "Description for generic string #2."
                    },
                    "string3": {
                        "type": "string",
                        "nullable": true,
                        "description": "Description for generic string #3."
                    },
                    "string4": {
                        "type": "string",
                        "nullable": true,
                        "description": "Description for generic string #4."
                    }
                }
            },
            "achievement": {
                "description": "An achievement a character may pursue.\n\nAchievements come in two forms: weapon medals (can only be completed once) and service ribbons (can be completed repeatedly).\n",
                "properties": {
                    "achievement_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "description": "Unique identifier."
                    },
                    "item_id": {
                        "type": "integer",
                        "nullable": true,
                        "minimum": 0,
                        "description": "The item associated with this achievement. An item ID of `0` signifies that this achievement is a service ribbon that is not tied to any weapon such as piloting or facility type specific capture ribbons.",
                        "x-reference-to": [
                            "item.item_id"
                        ]
                    },
                    "objective_group_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "description": "The objective group of this achievement. All objectives in this group will count towards this achievement.",
                        "x-reference-to": [
                            "objective.objective_group_id"
                        ]
                    },
                    "reward_id": {
                        "type": "integer",
                        "nullable": true,
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "description": "The reward granted upon completion.",
                        "x-reference-to": [
                            "reward.reward_id"
                        ]
                    },
                    "repeatable": {
                        "type": "integer",
                        "description": "Whether this achievement is repeatable. Service ribbons are repeatable, weapon medals are generally not."
                    },
                    "name": {
                        "type": "object",
                        "description": "Localised name of the achievement. Note that this is not unique as weapon medals all share the weapon's name.",
                        "properties": {
                            "de": {
                                "type": "string"
                            },
                            "en": {
                                "type": "string"
                            },
                            "es": {
                                "type": "string"
                            },
                            "fr": {
                                "type": "string"
                            },
                            "it": {
                                "type": "string"
                            }
                        }
                    },
                    "description": {
                        "type": "object",
                        "description": "Localised description for this achievement.",
                        "properties": {
                            "de": {
                                "type": "string"
                            },
                            "en": {
                                "type": "string"
                            },
                            "es": {
                                "type": "string"
                            },
                            "fr": {
                                "type": "string"
                            },
                            "it": {
                                "type": "string"
                            }
                        }
                    },
                    "image_set_id": {
                        "type": "integer",
                        "nullable": true,
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "description": "ID of the image set for this achievement.",
                        "x-reference-to": [
                            "image_set.image_set_id"
                        ]
                    },
                    "image_id": {
                        "type": "integer",
                        "nullable": true,
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "description": "Default image for this achievement.",
                        "x-reference-to": [
                            "image.image_id"
                        ]
                    },
                    "image_path": {
                        "type": "string",
                        "nullable": true,
                        "description": "Relative path to the default image to this achievement."
                    }
                }
            },
            "armor_facing": {
                "description": "This type is used to list different armour info values for the same vehicle depending on the attacker's position.\n\nNote that this mechanic uses the relative position of the attacker and the impacted vehicle, not the impact location of the projectile.\n",
                "properties": {
                    "armor_facing_id": {
                        "type": "integer",
                        "minimum": 0,
                        "description": "Unique identifier."
                    },
                    "description": {
                        "type": "string",
                        "description": "Direction represented by this entry."
                    }
                }
            },
            "armor_info": {
                "description": "Armour specification for an entity.\n\nArmour is a vehicle-specific property tha tmodifies incoming damage depending on the angle of attack. Note that this mechanic uses the relative position of the attacker to the impacted vehicle, not the actual impact location of the projectile.\n\nA vehicle generally has multiple armour info entries associated with different armour facing directions.\n\nNote that these armour percentages may be negative, in which case the damage dealt is increased beyond the base damage of the weapon.\n",
                "properties": {
                    "armor_info_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "description": "Unique identifier."
                    },
                    "armor_facing_id": {
                        "type": "integer",
                        "description": "The facing direction this entry lists the armour values for.",
                        "x-reference-to": [
                            "armor_facing.armor_facing_id"
                        ]
                    },
                    "armor_percent": {
                        "type": "number",
                        "nullable": true,
                        "description": "Damage reduction in percent. A value of `10.0` denotes a damage reduction of 10 percent. Negative armour values will increase damage taken:\n\n`actual_damage = (1 - (armor_percent / 100)) * base_damage`\n"
                    },
                    "armor_amount": {
                        "type": "integer",
                        "nullable": true,
                        "description": "A flat damage reduction applied to the damage effect prior to percentage reduction.\n\nThis field is unused since the 2017 armour rework as part of the \"Critical Mass\" game update.\n"
                    },
                    "description": {
                        "type": "string",
                        "description": "An internal description of what situation this armour info entry is used for."
                    }
                }
            },
            "character": {
                "description": "A player-controlled character.",
                "properties": {
                    "character_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "format": "int64",
                        "description": "ID of the character."
                    },
                    "name": {
                        "type": "object",
                        "description": "Name of the character. Consider using the `character_name` endpoint instead if you want to look up players by name.",
                        "properties": {
                            "first": {
                                "type": "string"
                            },
                            "first_lower": {
                                "type": "string"
                            }
                        }
                    },
                    "faction_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "description": "ID of the faction of the character.\n\nFor NSOs, this will always be faction 4 (NSO). This does not reflect the home faction of NSO players.\n",
                        "x-reference-to": [
                            "faction.faction_id"
                        ]
                    },
                    "head_id": {
                        "type": "integer",
                        "minimum": 0,
                        "description": "The head model selected by the player. This includes the two genders as well as the four head types, giving a total of eight variants.\n\nFor human player models, head IDs `1` through `4` are the male variants, `5` through `8` are the female head shapes.\n\nThere are ~160 characters with a head ID of `0` (bad data?), and NSO characters appear to be limited to head IDs `1` through `4`.\n"
                    },
                    "title_id": {
                        "type": "integer",
                        "minimum": 0,
                        "description": "ID of the title selected by the player, if any.\n\nIf a player has no title selected, this field will be `0`.\n",
                        "x-reference-to": [
                            "title.title_id"
                        ]
                    },
                    "times": {
                        "type": "object",
                        "description": "Data object containing time data about the player.\n\nThe `last_save` timestamp generally lines up with the end of the player's most recent session.\n",
                        "properties": {
                            "creation": {
                                "type": "integer"
                            },
                            "creation_date": {
                                "type": "string"
                            },
                            "last_save": {
                                "type": "integer"
                            },
                            "last_save_date": {
                                "type": "string"
                            },
                            "last_login": {
                                "type": "integer"
                            },
                            "last_login_date": {
                                "type": "string"
                            },
                            "login_count": {
                                "type": "integer"
                            },
                            "minutes_played": {
                                "type": "integer"
                            }
                        }
                    },
                    "certs": {
                        "type": "object",
                        "description": "Certification data for the player.\n\nEarned certs are acquired through experience gain (1 certs every 250 exp). Gifted certs are ones received through login rewards or other cert grants.\n",
                        "properties": {
                            "earned_points": {
                                "type": "integer"
                            },
                            "gifted_points": {
                                "type": "integer"
                            },
                            "spent_points": {
                                "type": "integer"
                            },
                            "available_points": {
                                "type": "integer"
                            },
                            "percent_to_next": {
                                "type": "number"
                            }
                        }
                    },
                    "battle_rank": {
                        "type": "object",
                        "description": "Current battle rank and progress towards the next.",
                        "properties": {
                            "percent_to_next": {
                                "type": "number"
                            },
                            "value": {
                                "type": "integer"
                            }
                        }
                    },
                    "profile_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "description": "The most recent class the character played as.",
                        "x-reference-to": [
                            "profile_2.profile_id"
                        ]
                    },
                    "daily_ribbon": {
                        "type": "object",
                        "description": "Data object about daily ribbon boni.\n\nNote that daily ribbon boni have been removed as of summer 2020.\n",
                        "properties": {
                            "count": {
                                "type": "integer"
                            },
                            "time": {
                                "type": "integer"
                            },
                            "date": {
                                "type": "string"
                            }
                        }
                    },
                    "prestige_level": {
                        "type": "integer",
                        "description": "The A.S.P. rank of the character."
                    }
                }
            },
            "character_name": {
                "description": "Optimised endpoint for looking up character IDs by the characters' in-game names.\n\nWhen looking characters up by ID, you can use the regular `character` endpoint or `single_character_by_id` if you require detailed stats.\n",
                "properties": {
                    "character_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "format": "int64",
                        "description": "ID of the character.",
                        "x-reference-to": [
                            "character.character_id"
                        ]
                    },
                    "name": {
                        "type": "object",
                        "description": "Name of the character. This field is indexed for this collection to speed up name lookups.",
                        "properties": {
                            "first": {
                                "type": "string"
                            },
                            "first_lower": {
                                "type": "string"
                            }
                        }
                    }
                }
            },
            "characters_achievement": {
                "description": "Achievement completion data for a given character.\n\nSee the `achievement` collection for details on the achievement itself.\n",
                "properties": {
                    "character_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "format": "int64",
                        "description": "ID of the character.",
                        "x-reference-to": [
                            "character.character_id"
                        ]
                    },
                    "achievement_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "description": "ID of the achievement.",
                        "x-reference-to": [
                            "achievement.achievement_id"
                        ]
                    },
                    "earned_count": {
                        "type": "integer",
                        "description": "How often the character has completed the given achievement."
                    },
                    "start": {
                        "type": "integer",
                        "description": "The UTC timestamp the character started progression towards this achievement at.\n\nFor repeatable achievements, this marks the last time the achievement was gained.\n"
                    },
                    "start_date": {
                        "type": "string",
                        "description": "String version of `start`."
                    },
                    "finish": {
                        "type": "integer",
                        "description": "The time the character completed this achievement. Only valid for one-time achievements such as medals.\n\nFor repeatable achievements, this is always 0.\n"
                    },
                    "finish_date": {
                        "type": "string",
                        "description": "String version of `finish`."
                    },
                    "last_save": {
                        "type": "integer",
                        "description": "The last time the character gained this achievement at as a UTC timestamp."
                    },
                    "last_save_date": {
                        "type": "string",
                        "description": "String version of `last_save`."
                    }
                }
            },
            "characters_currency": {
                "description": "Currency data for a character.\n\nThis endpoint currently only contains an entry for Nanites, with an extra key inserted for A.S.P. tokens.\n\nAs of September 2021, there is no way to query for newer resources like A-7, ISO-4, or Merit.\n",
                "properties": {
                    "character_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "format": "int64",
                        "description": "ID of the character.",
                        "x-reference-to": [
                            "character.character_id"
                        ]
                    },
                    "currency_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "description": "ID of the currency.",
                        "x-reference-to": [
                            "currency.currency_id"
                        ]
                    },
                    "currency_name": {
                        "type": "string",
                        "description": "Display name of the currency."
                    },
                    "quantity": {
                        "type": "integer",
                        "description": "Quantity of resources owned by the player."
                    },
                    "prestige_currency": {
                        "type": "integer",
                        "description": "Number of A.S.P. tokens available to the player."
                    }
                }
            },
            "characters_directive": {
                "description": "Completion status of a single directive for a given character.\n",
                "properties": {
                    "character_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "format": "int64",
                        "description": "ID of the character.",
                        "x-reference-to": [
                            "character.character_id"
                        ]
                    },
                    "directive_tree_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "description": "ID of the directive tree that this directive belongs to.",
                        "x-reference-to": [
                            "directive_tree.directive_tree_id"
                        ]
                    },
                    "directive_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "description": "ID of the directive.",
                        "x-reference-to": [
                            "directive.directive_id"
                        ]
                    },
                    "completion_time": {
                        "type": "integer",
                        "description": "UTC timestamp of when this directive was completed."
                    },
                    "completion_time_date": {
                        "type": "string",
                        "description": "String version of `completion_time`."
                    }
                }
            },
            "characters_directive_objective": {
                "description": "Directive objective progress data for a given character.\n",
                "properties": {
                    "character_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "format": "int64",
                        "description": "ID of the character.",
                        "x-reference-to": [
                            "character.character_id"
                        ]
                    },
                    "directive_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "description": "ID of the directive.",
                        "x-reference-to": [
                            "directive.directive_id"
                        ]
                    },
                    "objective_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "description": "ID of the objective being tracked.",
                        "x-reference-to": [
                            "objective.objective_id"
                        ]
                    },
                    "objective_group_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "description": "The objective group counting towards this directive.",
                        "x-reference-to": [
                            "objective.objective_group_id"
                        ]
                    },
                    "status": {
                        "type": "boolean",
                        "description": "Status flag indicating whether the objective is enabled."
                    },
                    "state_data": {
                        "type": "integer",
                        "description": "Objective type specific state value.\n\nThis represents the current progress of the character towards this objective. The target value is generally stored as part of the corresponding `objective` and its `objective_type`.\n"
                    }
                }
            },
            "characters_directive_tier": {
                "description": "Completion status of a directive tier for a given character.\n\nThis tracks whether a given directive tier is completed for a certain directive tree, such as \"Combat Medic: Adept\".\n",
                "properties": {
                    "character_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "format": "int64",
                        "description": "ID of the character.",
                        "x-reference-to": [
                            "character.character_id"
                        ]
                    },
                    "directive_tree_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "description": "ID of the directive tree this directive tier belongs to.",
                        "x-reference-to": [
                            "directive_tree.directive_tree_id"
                        ]
                    },
                    "directive_tier_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "description": "ID of the directive tier.",
                        "x-reference-to": [
                            "directive_tier.directive_tier_id"
                        ]
                    },
                    "completion_time": {
                        "type": "integer",
                        "description": "UTC timestamp of when this directive tier was completed."
                    },
                    "completion_time_date": {
                        "type": "string",
                        "description": "String version of `completion_time`."
                    }
                }
            },
            "characters_directive_tree": {
                "description": "Directive tree progress for a given character.\n\nThis tracks the character's progress within a given directive tree, such as \"Combat Medic\".\n",
                "properties": {
                    "character_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "format": "int64",
                        "description": "ID of the character.",
                        "x-reference-to": [
                            "character.character_id"
                        ]
                    },
                    "directive_tree_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "description": "ID of the directive tree.",
                        "x-reference-to": [
                            "directive_tree.directive_tree_id"
                        ]
                    },
                    "current_directive_tier_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "description": "The current tier of the player within this directive tree.\n\nDespite its name, this does not represent a `directive_tier` ID. Instead, it is a value from 1 (None) to 5 (Master) representing what stage of the directive tier the character is at.\n"
                    },
                    "current_level": {
                        "type": "integer",
                        "description": "This value is always 0, use `current_directive_tier_id` instead."
                    },
                    "completion_time": {
                        "type": "integer",
                        "description": "UTC timestamp of when this directive tree was completed."
                    },
                    "completion_time_date": {
                        "type": "string",
                        "description": "String version of `completion_time`."
                    }
                }
            },
            "characters_event": {
                "description": "REST endpoint for retrieving past events.\n\nThe fields available depend on the event. Only fixed fields available for all event types are listed below.\n\nKnown event types are: `BATTLE_RANK`, `ITEM`, `ACHIEVEMENT`, `DEATH`, `KILL`, `VEHICLE_DESTROY`, and `FACILITY_CHARACTER`.\n",
                "properties": {
                    "character_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "format": "int64",
                        "description": "ID of the character. For death or kill events, this is the ID of the victim.",
                        "x-reference-to": [
                            "character.character_id"
                        ]
                    },
                    "timestamp": {
                        "type": "integer",
                        "description": "UTC timestamp of when this event occurred."
                    },
                    "zone_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "description": "ID of the zone in which the event occurred.",
                        "x-reference-to": [
                            "zone.zone_id"
                        ]
                    },
                    "world_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "description": "ID of the game world on which the event occurred.",
                        "x-reference-to": [
                            "world.world_id"
                        ]
                    },
                    "table_type": {
                        "type": "string",
                        "description": "Internal name of the queried table. Note that these names do not match the ones used to select them in the query."
                    }
                }
            },
            "characters_event_grouped": {
                "description": "Statistics table for player vs. player comparisons.\n\nThis table lists the number of times the given character has killed or been killed by another character. As such, this table can only be used for one character at a time: query it by the target character and any `character_id` values in the response will represent the other character.\n",
                "properties": {
                    "table_type": {
                        "type": "string",
                        "description": "The type of event. Always either `KILL` or `DEATH`."
                    },
                    "count": {
                        "type": "integer",
                        "description": "The number of times the queried player has killed (or been killed by) the other player."
                    },
                    "character_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "format": "int64",
                        "description": "ID of the other character.",
                        "x-reference-to": [
                            "character.character_id"
                        ]
                    }
                }
            },
            "characters_friend": {
                "description": "Endpoint for querying a character's friend list.\n",
                "properties": {
                    "character_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "format": "int64",
                        "description": "ID of the character.",
                        "x-reference-to": [
                            "character.character_id"
                        ]
                    },
                    "name": {
                        "type": "string",
                        "nullable": true,
                        "description": "Always NULL, unused."
                    },
                    "friend_list": {
                        "type": "array",
                        "description": "A list of objects representing entries in the character's friend list.",
                        "items": {
                            "type": "object",
                            "properties": {
                                "character_id": {
                                    "type": "integer",
                                    "format": "int64",
                                    "minimum": 0,
                                    "exclusiveMinimum": true,
                                    "x-reference-to": [
                                        "character.character_id"
                                    ]
                                },
                                "last_login_time": {
                                    "type": "string"
                                },
                                "online": {
                                    "type": "boolean"
                                }
                            }
                        }
                    }
                }
            },
            "characters_item": {
                "description": "Contents of a given character's item inventory.\n",
                "properties": {
                    "character_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "format": "int64",
                        "description": "ID of the character.",
                        "x-reference-to": [
                            "character.character_id"
                        ]
                    },
                    "item_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "description": "ID of the item.",
                        "x-reference-to": [
                            "item.item_id"
                        ]
                    },
                    "account_level": {
                        "type": "boolean",
                        "nullable": true,
                        "description": "Whether this item has been unlocked account-wide.\n\nThis is an indication that the given item was unlocked via Daybreak Cash or redeemable codes rather than through certifications.\n"
                    },
                    "stack_count": {
                        "type": "integer",
                        "nullable": true,
                        "description": "The number of items in the character's inventory.\n\nThis is used for items that can be obtained more than once, such as consumables or grenades.\n"
                    }
                }
            },
            "characters_leaderboard": {
                "description": "Query the server leaderboard for the character's position.\n\nNote that only the top 10'000 characters are tracked.\n",
                "properties": {
                    "character_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "format": "int64",
                        "description": "ID of the character.",
                        "x-reference-to": [
                            "character.character_id"
                        ]
                    },
                    "value": {
                        "type": "integer",
                        "description": "The character's value on the queried table."
                    },
                    "rank": {
                        "type": "integer",
                        "description": "The character's server-wide rank resulting from that score."
                    }
                }
            },
            "characters_online_status": {
                "description": "Online status of a given character.\n",
                "properties": {
                    "character_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "format": "int64",
                        "description": "ID of the character.",
                        "x-reference-to": [
                            "character.character_id"
                        ]
                    },
                    "online_status": {
                        "type": "integer",
                        "description": "If the character is online, this is set to the ID of the world they are logged onto. `0` for offline characters.\n",
                        "x-reference-to": [
                            "world.world_id"
                        ]
                    }
                }
            },
            "characters_skill": {
                "description": "Lists skills unlocked by a given character.\n",
                "properties": {
                    "character_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "format": "int64",
                        "description": "ID of the character.",
                        "x-reference-to": [
                            "character.character_id"
                        ]
                    },
                    "skill_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "description": "ID of the skill.",
                        "x-reference-to": [
                            "skill.skill_id"
                        ]
                    },
                    "last_save": {
                        "type": "integer",
                        "description": "UTC timestamp of when this skill was unlocked."
                    },
                    "last_save_date": {
                        "type": "string",
                        "description": "String version of `last_save`."
                    }
                }
            },
            "characters_stat": {
                "description": "Character-wide statistics endpoint.\n",
                "properties": {
                    "character_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "format": "int64",
                        "description": "ID of the character.",
                        "x-reference-to": [
                            "character.character_id"
                        ]
                    },
                    "stat_name": {
                        "type": "string",
                        "description": "Name of the statistic being tracked."
                    },
                    "profile_id": {
                        "type": "integer",
                        "description": "ID of the profile for which the stat is tracked.\n\nNote that many statistics are only tracked character-wide (i.e. `profile_id=0`).\n",
                        "x-reference-to": [
                            "profile_2.profile_id"
                        ]
                    },
                    "value_forever": {
                        "type": "integer",
                        "description": "All-time total."
                    },
                    "value_monthly": {
                        "type": "integer",
                        "description": "Value for the last 31 calendar days."
                    },
                    "value_weekly": {
                        "type": "integer",
                        "description": "Value for the last 7 calendar days."
                    },
                    "value_daily": {
                        "type": "integer",
                        "description": "Value for the last 24 real-time hours."
                    },
                    "value_one_life_max": {
                        "type": "integer",
                        "description": "Highest value ever achieved without dying.\n\nNote that this only counts deaths by enemies without being revived.\n"
                    },
                    "last_save": {
                        "type": "integer",
                        "description": "UTC timemstamp of when this table was last updated."
                    },
                    "last_save_date": {
                        "type": "string",
                        "description": "String version of `last_save`."
                    }
                }
            },
            "characters_stat_by_faction": {
                "description": "Faction-specific statistics for a given character.\n\nNote that faction stats are often only tracked for enemy factions; team kills are not listed in this table, for example.\n",
                "properties": {
                    "character_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "format": "int64",
                        "description": "ID of the character.",
                        "x-reference-to": [
                            "character.character_id"
                        ]
                    },
                    "stat_name": {
                        "type": "string",
                        "description": "Name of the statistic being tracked."
                    },
                    "profile_id": {
                        "type": "integer",
                        "minimum": 0,
                        "description": "ID of the profile for which the stat is tracked.\n\nNote that many statistics are only tracked character-wide (i.e. `profile_id=0`).\n",
                        "x-reference-to": [
                            "profile_2.profile_id"
                        ]
                    },
                    "value_forever_vs": {
                        "type": "integer",
                        "description": "All-time total for VS."
                    },
                    "value_forever_nc": {
                        "type": "integer",
                        "description": "All-time total for NC."
                    },
                    "value_forever_tr": {
                        "type": "integer",
                        "description": "All-time total for TR."
                    },
                    "value_monthly_vs": {
                        "type": "integer",
                        "description": "Value for the last 31 calendar days for VS."
                    },
                    "value_monthly_nc": {
                        "type": "integer",
                        "description": "Value for the last 31 calendar days for NC."
                    },
                    "value_monthly_tr": {
                        "type": "integer",
                        "description": "Value for the last 31 calendar days for TR."
                    },
                    "value_weekly_vs": {
                        "type": "integer",
                        "description": "Value for the last 7 calendar days for VS."
                    },
                    "value_weekly_nc": {
                        "type": "integer",
                        "description": "Value for the last 7 calendar days for NC."
                    },
                    "value_weekly_tr": {
                        "type": "integer",
                        "description": "Value for the last 7 calendar days for TR."
                    },
                    "value_daily_vs": {
                        "type": "integer",
                        "description": "Value for the last 24 real-time hours for VS."
                    },
                    "value_daily_nc": {
                        "type": "integer",
                        "description": "Value for the last 24 real-time hours for NC."
                    },
                    "value_daily_tr": {
                        "type": "integer",
                        "description": "Value for the last 24 real-time hours for TR."
                    },
                    "value_one_life_max_vs": {
                        "type": "integer",
                        "description": "Highest value ever achieved without dying for VS.\n\nNote that this only counts deaths by enemies without being revived.\n"
                    },
                    "value_one_life_max_nc": {
                        "type": "integer",
                        "description": "Highest value ever achieved without dying for NC.\n\nNote that this only counts deaths by enemies without being revived.\n"
                    },
                    "value_one_life_max_tr": {
                        "type": "integer",
                        "description": "Highest value ever achieved without dying for TR.\n\nNote that this only counts deaths by enemies without being revived.\n"
                    },
                    "last_save": {
                        "type": "integer",
                        "description": "UTC timemstamp of when this table was last updated."
                    },
                    "last_save_date": {
                        "type": "string",
                        "description": "String version of `last_save`."
                    }
                }
            },
            "characters_stat_history": {
                "description": "Historical statistics for a given character.\n\nThese are used for the timelines displayed in the in-game statistics panel.\n",
                "properties": {
                    "character_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "format": "int64",
                        "description": "ID of the character.",
                        "x-reference-to": [
                            "character.character_id"
                        ]
                    },
                    "stat_name": {
                        "type": "string",
                        "description": "Name of the statistic being tracked."
                    },
                    "all_time": {
                        "type": "integer",
                        "description": "All-time total."
                    },
                    "one_life_max": {
                        "type": "integer",
                        "description": "Highest value ever achieved without dying.\n\nNote that this only counts deaths by enemies without being revived.\n"
                    },
                    "day": {
                        "type": "object",
                        "description": "Values for the last 31 calendar days.",
                        "properties": {
                            "d01": {
                                "type": "number"
                            },
                            "d02": {
                                "type": "number"
                            },
                            "d03": {
                                "type": "number"
                            },
                            "d04": {
                                "type": "number"
                            },
                            "d05": {
                                "type": "number"
                            },
                            "d06": {
                                "type": "number"
                            },
                            "d07": {
                                "type": "number"
                            },
                            "d08": {
                                "type": "number"
                            },
                            "d09": {
                                "type": "number"
                            },
                            "d10": {
                                "type": "number"
                            },
                            "d11": {
                                "type": "number"
                            },
                            "d12": {
                                "type": "number"
                            },
                            "d13": {
                                "type": "number"
                            },
                            "d14": {
                                "type": "number"
                            },
                            "d15": {
                                "type": "number"
                            },
                            "d16": {
                                "type": "number"
                            },
                            "d17": {
                                "type": "number"
                            },
                            "d18": {
                                "type": "number"
                            },
                            "d19": {
                                "type": "number"
                            },
                            "d20": {
                                "type": "number"
                            },
                            "d21": {
                                "type": "number"
                            },
                            "d22": {
                                "type": "number"
                            },
                            "d23": {
                                "type": "number"
                            },
                            "d24": {
                                "type": "number"
                            },
                            "d25": {
                                "type": "number"
                            },
                            "d26": {
                                "type": "number"
                            },
                            "d27": {
                                "type": "number"
                            },
                            "d28": {
                                "type": "number"
                            },
                            "d29": {
                                "type": "number"
                            },
                            "d30": {
                                "type": "number"
                            },
                            "d31": {
                                "type": "number"
                            }
                        }
                    },
                    "month": {
                        "type": "object",
                        "description": "Values for the last 12 calendar months.",
                        "properties": {
                            "m01": {
                                "type": "number"
                            },
                            "m02": {
                                "type": "number"
                            },
                            "m03": {
                                "type": "number"
                            },
                            "m04": {
                                "type": "number"
                            },
                            "m05": {
                                "type": "number"
                            },
                            "m06": {
                                "type": "number"
                            },
                            "m07": {
                                "type": "number"
                            },
                            "m08": {
                                "type": "number"
                            },
                            "m09": {
                                "type": "number"
                            },
                            "m10": {
                                "type": "number"
                            },
                            "m11": {
                                "type": "number"
                            },
                            "m12": {
                                "type": "number"
                            }
                        }
                    },
                    "week": {
                        "type": "object",
                        "description": "Values for the last 7 calendar days.",
                        "properties": {
                            "w01": {
                                "type": "number"
                            },
                            "w02": {
                                "type": "number"
                            },
                            "w03": {
                                "type": "number"
                            },
                            "w04": {
                                "type": "number"
                            },
                            "w05": {
                                "type": "number"
                            },
                            "w06": {
                                "type": "number"
                            },
                            "w07": {
                                "type": "number"
                            },
                            "w08": {
                                "type": "number"
                            },
                            "w09": {
                                "type": "number"
                            },
                            "w10": {
                                "type": "number"
                            },
                            "w11": {
                                "type": "number"
                            },
                            "w12": {
                                "type": "number"
                            },
                            "w13": {
                                "type": "number"
                            }
                        }
                    },
                    "last_save": {
                        "type": "integer",
                        "description": "UTC timemstamp of when this table was last updated."
                    },
                    "last_save_date": {
                        "type": "string",
                        "description": "String version of `last_save`."
                    }
                }
            },
            "characters_weapon_stat": {
                "description": "Weapon-specific statistics for a given character.\n",
                "properties": {
                    "character_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "format": "int64",
                        "description": "ID of the character.",
                        "x-reference-to": [
                            "character.character_id"
                        ]
                    },
                    "stat_name": {
                        "type": "string",
                        "description": "Name of the statistic being tracked."
                    },
                    "item_id": {
                        "type": "integer",
                        "description": "ID of the item being tracked.",
                        "x-reference-to": [
                            "item.item_id"
                        ]
                    },
                    "vehicle_id": {
                        "type": "integer",
                        "description": "ID of the vehicle this weapon belongs to (if any).",
                        "x-reference-to": [
                            "vehicle.vehicle_id"
                        ]
                    },
                    "value": {
                        "type": "integer",
                        "description": "All-time total."
                    },
                    "last_save": {
                        "type": "integer",
                        "description": "UTC timemstamp of when this table was last updated."
                    },
                    "last_save_date": {
                        "type": "string",
                        "description": "String version of `last_save`."
                    }
                }
            },
            "characters_weapon_stat_by_faction": {
                "description": "Weapon-specific statistics for a given character.\n\nNote that faction stats are often only tracked for enemy factions; team damage is not listed in this table, for example.\n",
                "properties": {
                    "character_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "format": "int64",
                        "description": "ID of the character.",
                        "x-reference-to": [
                            "character.character_id"
                        ]
                    },
                    "stat_name": {
                        "type": "string",
                        "description": "Name of the statistic being tracked."
                    },
                    "item_id": {
                        "type": "integer",
                        "description": "ID of the item being tracked.",
                        "x-reference-to": [
                            "item.item_id"
                        ]
                    },
                    "vehicle_id": {
                        "type": "integer",
                        "description": "ID of the vehicle this weapon belongs to (if any).",
                        "x-reference-to": [
                            "vehicle.vehicle_id"
                        ]
                    },
                    "value_vs": {
                        "type": "integer",
                        "description": "All-time total for VS."
                    },
                    "value_nc": {
                        "type": "integer",
                        "description": "All-time total for NC."
                    },
                    "value_tr": {
                        "type": "integer",
                        "description": "All-time total for TR."
                    },
                    "last_save": {
                        "type": "integer",
                        "description": "UTC timemstamp of when this table was last updated."
                    },
                    "last_save_date": {
                        "type": "string",
                        "description": "String version of `last_save`."
                    }
                }
            },
            "characters_world": {
                "description": "Map a character to the world they are playing on.\n",
                "properties": {
                    "character_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "format": "int64",
                        "description": "ID of the character.",
                        "x-reference-to": [
                            "character.character_id"
                        ]
                    },
                    "world_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "description": "ID of the world.",
                        "x-reference-to": [
                            "world.world_id"
                        ]
                    }
                }
            },
            "currency": {
                "description": "A currency attainable by a character.\n",
                "properties": {
                    "currency_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "description": "ID of the currency."
                    },
                    "name": {
                        "type": "string",
                        "description": "Localised name of the currency."
                    },
                    "icon_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "description": "ID of the currency's icon image asset.",
                        "x-reference-to": [
                            "image.image_id"
                        ]
                    },
                    "inventory_cap": {
                        "type": "integer",
                        "description": "Maximum amount of currency the player may hold at once (e.g. 750 Nanites)."
                    }
                }
            },
            "datatype": {
                "description": "A collection in the API. Collections can be appended to the root API endpoint to query the associated API table.",
                "properties": {
                    "count": {
                        "oneOf": [
                            {
                                "type": "integer"
                            },
                            {
                                "type": "string"
                            }
                        ],
                        "description": "The number of entries in this collection.\n\nThis field will report either an integer specifying the number of rows in the associated table, or it can be set to the strings `\"?\"` or `\"dynamic\"` to show that the underlying table has no set size. This is the case for dynamic tables and views, such as the `characters_item` mapping.\n"
                    },
                    "hidden": {
                        "oneOf": [
                            {
                                "type": "boolean"
                            },
                            {
                                "type": "string"
                            }
                        ],
                        "description": "Whether the table is hidden from the API. Always `false` for public API tables.\n\nNote that this value might be the string `\"false\"`, or a literal JSON `false` in the response.\n"
                    },
                    "name": {
                        "type": "string",
                        "description": "Unique name of the collection."
                    },
                    "resolve_list": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "A list of resolvable names for this collection.\n\nThe given names can be passed to the `c:resolve` query command to join additional fields to the response object.\n"
                    }
                }
            },
            "directive": {
                "description": "Description for `directive`.",
                "properties": {
                    "directive_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "description": "Description for `directive_id`"
                    },
                    "directive_tree_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "description": "Description for `directive_tree_id`",
                        "x-reference-to": [
                            "directive_tree.directive_tree_id"
                        ]
                    },
                    "directive_tier_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "nullable": true,
                        "description": "Description for `directive_tier_id`",
                        "x-reference-to": [
                            "directive_tier.directive_tier_id"
                        ]
                    },
                    "objective_set_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "nullable": true,
                        "description": "Description for `objective_set_id`",
                        "x-reference-to": [
                            "objective_set_to_objective.objective_set_id"
                        ]
                    },
                    "qualify_requirement_id": {
                        "type": "integer",
                        "minimum": 0,
                        "nullable": true,
                        "description": "Description for `qualify_requirement_id`"
                    },
                    "name": {
                        "type": "object",
                        "description": "Description for `name`",
                        "properties": {
                            "de": {
                                "type": "string"
                            },
                            "en": {
                                "type": "string"
                            },
                            "es": {
                                "type": "string"
                            },
                            "fr": {
                                "type": "string"
                            },
                            "it": {
                                "type": "string"
                            }
                        }
                    },
                    "description": {
                        "type": "object",
                        "description": "Description for `description`",
                        "properties": {
                            "de": {
                                "type": "string"
                            },
                            "en": {
                                "type": "string"
                            },
                            "es": {
                                "type": "string"
                            },
                            "fr": {
                                "type": "string"
                            },
                            "it": {
                                "type": "string"
                            }
                        }
                    },
                    "image_set_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "nullable": true,
                        "description": "Description for `image_set_id`",
                        "x-reference-to": [
                            "image_set.image_set_id"
                        ]
                    },
                    "image_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "nullable": true,
                        "description": "Description for `image_id`",
                        "x-reference-to": [
                            "image.image_id"
                        ]
                    },
                    "image_path": {
                        "type": "string",
                        "nullable": true,
                        "description": "Description for `image_path`"
                    }
                }
            },
            "directive_tier": {
                "description": "Description for `directive_tier`.",
                "properties": {
                    "directive_tree_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "description": "Description for `directive_tree_id`"
                    },
                    "directive_tier_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "description": "Description for `directive_tier_id`",
                        "x-reference-to": [
                            "directive_tier.directive_tier_id"
                        ]
                    },
                    "reward_set_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "nullable": true,
                        "description": "Description for `reward_set_id`",
                        "x-reference-to": [
                            "reward_set_to_reward_group.reward_set_id"
                        ]
                    },
                    "directive_points": {
                        "type": "integer",
                        "nullable": true,
                        "description": "Description for `directive_points`"
                    },
                    "completion_count": {
                        "type": "integer",
                        "description": "Description for `completion_count`"
                    },
                    "name": {
                        "type": "object",
                        "description": "Description for `name`",
                        "properties": {
                            "de": {
                                "type": "string"
                            },
                            "en": {
                                "type": "string"
                            },
                            "es": {
                                "type": "string"
                            },
                            "fr": {
                                "type": "string"
                            },
                            "it": {
                                "type": "string"
                            }
                        }
                    },
                    "image_set_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "description": "Description for `image_set_id`",
                        "x-reference-to": [
                            "image_set.image_set_id"
                        ]
                    },
                    "image_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "description": "Description for `image_id`",
                        "x-reference-to": [
                            "image.image_id"
                        ]
                    },
                    "image_path": {
                        "type": "string",
                        "description": "Description for `image_path`"
                    }
                }
            },
            "directive_tree": {
                "description": "Description for `directive_tree`.",
                "properties": {
                    "directive_tree_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "description": "Description for `directive_tree_id`"
                    },
                    "directive_tree_category_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "nullable": true,
                        "description": "Description for `directive_tree_category_id`",
                        "x-reference-to": [
                            "directive_tree_category.directive_tree_category_id"
                        ]
                    },
                    "name": {
                        "type": "object",
                        "description": "Description for `name`",
                        "properties": {
                            "de": {
                                "type": "string"
                            },
                            "en": {
                                "type": "string"
                            },
                            "es": {
                                "type": "string"
                            },
                            "fr": {
                                "type": "string"
                            },
                            "it": {
                                "type": "string"
                            }
                        }
                    },
                    "description": {
                        "type": "object",
                        "description": "Description for `description`",
                        "properties": {
                            "de": {
                                "type": "string"
                            },
                            "en": {
                                "type": "string"
                            },
                            "es": {
                                "type": "string"
                            },
                            "fr": {
                                "type": "string"
                            },
                            "it": {
                                "type": "string"
                            }
                        }
                    },
                    "image_set_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "nullable": true,
                        "description": "Description for `image_set_id`",
                        "x-reference-to": [
                            "image_set.image_set_id"
                        ]
                    },
                    "image_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "nullable": true,
                        "description": "Description for `image_id`",
                        "x-reference-to": [
                            "image.image_id"
                        ]
                    },
                    "image_path": {
                        "type": "string",
                        "nullable": true,
                        "description": "Description for `image_path`"
                    }
                }
            },
            "directive_tree_category": {
                "description": "Description for `directive_tree_category`.",
                "properties": {
                    "directive_tree_category_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "description": "Description for `directive_tree_category_id`"
                    },
                    "name": {
                        "type": "object",
                        "description": "Description for `name`",
                        "properties": {
                            "de": {
                                "type": "string"
                            },
                            "en": {
                                "type": "string"
                            },
                            "es": {
                                "type": "string"
                            },
                            "fr": {
                                "type": "string"
                            },
                            "it": {
                                "type": "string"
                            }
                        }
                    }
                }
            },
            "effect": {
                "description": "Description for `effect`.",
                "properties": {
                    "effect_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "description": "Description for `effect_id`"
                    },
                    "effect_type_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "nullable": true,
                        "description": "Description for `effect_type_id`",
                        "x-reference-to": [
                            "effect_type.effect_type_id"
                        ]
                    },
                    "ability_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "nullable": true,
                        "description": "Description for `ability_id`",
                        "x-reference-to": [
                            "ability.ability_id"
                        ]
                    },
                    "target_type_id": {
                        "type": "integer",
                        "nullable": true,
                        "description": "Description for `target_type_id`",
                        "x-reference-to": [
                            "target_type.target_type_id"
                        ]
                    },
                    "resist_type_id": {
                        "type": "integer",
                        "minimum": 0,
                        "description": "Description for `resist_type_id`",
                        "x-reference-to": [
                            "resist_type.resist_type_id"
                        ]
                    },
                    "is_drain": {
                        "type": "integer",
                        "nullable": true,
                        "description": "Description for `is_drain`"
                    },
                    "duration_seconds": {
                        "type": "integer",
                        "nullable": true,
                        "description": "Description for `duration_seconds`"
                    },
                    "param1": {
                        "type": "number",
                        "nullable": true,
                        "description": "Description for `param1`"
                    },
                    "param2": {
                        "type": "number",
                        "nullable": true,
                        "description": "Description for `param2`"
                    },
                    "param3": {
                        "type": "integer",
                        "nullable": true,
                        "description": "Description for `param3`"
                    },
                    "param4": {
                        "type": "string",
                        "nullable": true,
                        "description": "Description for `param4`"
                    },
                    "param5": {
                        "type": "integer",
                        "nullable": true,
                        "description": "Description for `param5`"
                    },
                    "param6": {
                        "type": "integer",
                        "nullable": true,
                        "description": "Description for `param6`"
                    },
                    "param7": {
                        "type": "integer",
                        "nullable": true,
                        "description": "Description for `param7`"
                    },
                    "param8": {
                        "type": "integer",
                        "nullable": true,
                        "description": "Description for `param8`"
                    },
                    "param9": {
                        "type": "integer",
                        "nullable": true,
                        "description": "Description for `param9`"
                    },
                    "param10": {
                        "type": "integer",
                        "nullable": true,
                        "description": "Description for `param10`"
                    },
                    "param11": {
                        "type": "integer",
                        "nullable": true,
                        "description": "Description for `param11`"
                    },
                    "param12": {
                        "type": "integer",
                        "nullable": true,
                        "description": "Description for `param12`"
                    },
                    "param13": {
                        "type": "integer",
                        "nullable": true,
                        "description": "Description for `param13`"
                    }
                }
            },
            "effect_type": {
                "description": "Description for `effect_type`.",
                "properties": {
                    "effect_type_id": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "description": "Description for `effect_type_id`"
                    },
                    "description": {
                        "type": "string",
                        "description": "Description for `description`"
                    },
                    "param1": {
                        "type": "string",
                        "nullable": true,
                        "description": "Description for `param1`"
                    },
                    "param2": {
                        "type": "string",
                        "nullable": true,
                        "description": "Description for `param2`"
                    },
                    "param3": {
                        "type": "string",
                        "nullable": true,
                        "description": "Description for `param3`"
                    },
                    "param4": {
                        "type": "string",
                        "nullable": true,
                        "description": "Description for `param4`"
                    },
                    "param5": {
                        "type": "string",
                        "nullable": true,
                        "description": "Description for `param5`"
                    },
                    "param6": {
                        "type": "string",
                        "nullable": true,
                        "description": "Description for `param6`"
                    },
                    "param7": {
                        "type": "string",
                        "nullable": true,
                        "description": "Description for `param7`"
                    },
                    "param8": {
                        "type": "string",
                        "nullable": true,
                        "description": "Description for `param8`"
                    },
                    "param9": {
                        "type": "string",
                        "nullable": true,
                        "description": "Description for `param9`"
                    },
                    "param10": {
                        "type": "string",
                        "nullable": true,
                        "description": "Description for `param10`"
                    },
                    "param11": {
                        "type": "string",
                        "nullable": true,
                        "description": "Description for `param11`"
                    },
                    "param12": {
                        "type": "string",
                        "nullable": true,
                        "description": "Description for `param12`"
                    },
                    "param13": {
                        "type": "string",
                        "nullable": true,
                        "description": "Description for `param13`"
                    }
                }
            },
            "empire_scores": {
                "description": "Description for `empire_scores`.",
                "properties": {
                    "tracker_name": {
                        "type": "string",
                        "description": "Description for `tracker_name`"
                    },
                    "tracker_description": {
                        "type": "string",
                        "description": "Description for `tracker_description`"
                    },
                    "start_date": {
                        "type": "string",
                        "description": "Description for `start_date`"
                    },
                    "start_time": {
                        "type": "integer",
                        "description": "Description for `start_time`"
                    },
                    "end_date": {
[...]
