{
  "openapi": "3.1.0",
  "info": {
    "contact": {
      "name": "Project Repository",
      "url": "https://github.com/leonhard-s/ps2-api-docs"
    },
    "description": "## Introduction\n\nThe Daybreak Game Company Census API provides access to game and character data for the MMOFPS\n[PlanetSide 2](https://www.planetside2.com/home), allowing players to develop their own apps,\nstat trackers, websites, and community integrations.\n\n### Disclaimer\n\nThis documentation is written and maintained by thirdparty developers from the PlanetSide 2\ncommunity and has no affiliation with Daybreak Game Company, Rogue Planet Games, or the\nPlanetSide 2 developer team. If you encounter any errors or have other feedback, please do\nconsider [opening an issue](https://github.com/leonhard-s/ps2-api-docs/issues) or contributing\nto the project directly.\n\n### Warranty\n\nNote that all game data and files made available by Daybreak Game Company are provided \"AS IS\"\nand come with absolutely no warranty. For legal details, please refer to the API's\n[warranty disclaimer](https://census.daybreakgames.com/#warranty) and the Census API [terms of\nservice](https://census.daybreakgames.com#services-api-policy).\n\nFurthermore, the OpenAPI spec provided here is released without any warranty either, though its\nsource code is made available without restriction at the repository link listed in the contact\nsection of this API specification.\n\n### Service IDs\n\nThe Census API uses service IDs to monitor and identify API consumers. These IDs are free and\ncan be requested via [this form](https://census.daybreakgames.com/#devSignup). The process is\nautomatic and you should receive your service ID confirmation email within a few minutes to\nhours.\n\nUsing the API without a service ID is possible and synonymous with using the default service ID of\n`s:example`. However, this service ID is rate-limited to 10 requests per minute and IP address,\nso it is highly recommended to apply for your own service IDs early on.\n\n### Further Reading\n\nThis documentation is intended to be a reference for the API endpoints, parameters, and JSON\nschemas. For a more general introduction to the Census API, examples, and more detailed\ninformation on the `c:join` system, please refer to one of the following resources:\n\n  - [Census API Documentation](https://census.daybreakgames.com/): Official documentation by\n    Daybreak Game Company\n  - [PlanetSide 2 API Tracker](https://github.com/cooltrain7/Planetside-2-API-Tracker): A\n    community-maintained issue tracker and developer resource\n  - [Census API Primer](https://github.com/leonhard-s/auraxium/wiki/Census-API-Primer): A\n    rewritten version of the official documentation with additional details and examples\n  - [PS2 Query GUI](https://eating-coleslaw.github.io/ps2-visual-query/): A GUI web page for\n    querying the Planetside 2 API\n  - [Zone ID Tutorial](https://github.com/cooltrain7/Planetside-2-API-Tracker/wiki/Tutorial:-Zone-IDs):\n    Introduction for working with dynamic zones, such as those spawned for Outfit Wars\n  - [Sanctuary.Census](https://github.com/PS2Sanctuary/Sanctuary.Census): A community endpoint\n    replicating and extending the Census ReST API\n\n### Event Streaming Service\n\nThe PlanetSide 2 API also provides a real-time event streaming service using the WebSocket\nprotocol. This service is not covered by this documentation yet, but you can find more\ninformation at the following links:\n\n  - [PS2 Event Streaming](https://census.daybreakgames.com/#what-is-websocket): Official\n    documentation by Daybreak Game Company\n  - [Nanite Systems ESS](https://github.com/nanite-systems/stream): A replacement endpoint for\n    the ESS designed to provide more reliability\n",
    "license": {
      "name": "Proprietary",
      "url": "https://census.daybreakgames.com#services-api-policy"
    },
    "termsOfService": "https://census.daybreakgames.com#services-api-policy",
    "title": "PlanetSide 2 API",
    "version": "0.8",
    "x-logo": {
      "altText": "Census API Docs Logo",
      "url": "https://raw.githubusercontent.com/leonhard-s/ps2-api-docs/main/docs/logo-redoc.png"
    }
  },
  "servers": [
    {
      "description": "Casual-use Daybreak Games endpoint, throttled to 10 requests per minute and IP address\n",
      "url": "https://census.daybreakgames.com"
    },
    {
      "description": "Production Daybreak Games endpoint, with service ID",
      "url": "https://census.daybreakgames.com/{serviceId}",
      "variables": {
        "serviceId": {
          "default": "s:example"
        }
      }
    },
    {
      "description": "Unofficial Community endpoint for static data.\nVisit the project URL for details.\n",
      "url": "https://census.lithafalcon.cc"
    }
  ],
  "security": [],
  "paths": {
    "/count/{game}/{collection}": {
      "get": {
        "description": "Lists the number of entries in the given collection.\nThis endpoint can be used to determine an appropriate pagination strategy based on the size of the result list, but it is especially useful for API introspection as it still supports query strings, including search modifiers and certain query commands.\nFor example, the `weapon` collection may be queried with `c:has=heat_capacity` to get the number of heat-based weapons. Similarly, comparing the `c:has=<field>` count of a collection with the total can be used to guess whether a field is optional or used.\nClient code should be ready to receive negative values for this endpoint, which is used as the error state for this endpoint, rather than the explicit error payloads sent for the `/get/` query verb.\n",
        "operationId": "count_generic",
        "parameters": [
          {
            "description": "The API game to access.",
            "examples": {
              "ps2": {
                "summary": "PS2 on PC (all servers)",
                "value": "ps2"
              },
              "ps2ps4eu": {
                "summary": "PS2 on PS4 (EU server)",
                "value": "ps2ps4eu"
              },
              "ps2ps4us": {
                "summary": "PS2 on PS4 (US server)",
                "value": "ps2ps4us"
              }
            },
            "in": "path",
            "name": "game",
            "required": true,
            "schema": {
              "enum": [
                "ps2",
                "ps2:v2",
                "ps2ps4eu",
                "ps2ps4eu:v2",
                "ps2ps4us",
                "ps2ps4us:v2"
              ],
              "type": "string"
            }
          },
          {
            "description": "Name of the collection to access.",
            "examples": {
              "character": {
                "summary": "Character",
                "value": "character"
              },
              "outfit": {
                "summary": "Outfit",
                "value": "outfit"
              },
              "world": {
                "summary": "Game Servers",
                "value": "world"
              }
            },
            "in": "path",
            "name": "collection",
            "required": true,
            "schema": {
              "enum": [
                "ability_type",
                "ability",
                "achievement",
                "armor_facing",
                "armor_info",
                "character_name",
                "character",
                "characters_achievement",
                "characters_currency",
                "characters_directive_objective",
                "characters_directive_tier",
                "characters_directive_tree",
                "characters_directive",
                "characters_event_grouped",
                "characters_event",
                "characters_friend",
                "characters_item",
                "characters_leaderboard",
                "characters_online_status",
                "characters_skill",
                "characters_stat_by_faction",
                "characters_stat_history",
                "characters_stat",
                "characters_weapon_stat_by_faction",
                "characters_weapon_stat",
                "characters_world",
                "currency",
                "directive_tier",
                "directive_tree_category",
                "directive_tree",
                "directive",
                "effect_type",
                "effect",
                "empire_scores",
                "event",
                "experience_award_type",
                "experience_rank",
                "experience",
                "facility_link",
                "facility_type",
                "faction",
                "fire_group_to_fire_mode",
                "fire_group",
                "fire_mode_2",
                "fire_mode_to_projectile",
                "fire_mode_type",
                "fire_mode",
                "fish",
                "image_set_default",
                "image_set",
                "image",
                "item_attachment",
                "item_category",
                "item_profile",
                "item_to_weapon",
                "item_type",
                "item",
                "leaderboard",
                "loadout",
                "map_hex",
                "map_region",
                "map",
                "marketing_bundle_item",
                "marketing_bundle_with_1_item",
                "marketing_bundle",
                "metagame_event_state",
                "metagame_event",
                "objective_set_to_objective",
                "objective_type",
                "objective",
                "outfit_member_extended",
                "outfit_member",
                "outfit_rank",
                "outfit",
                "player_state_group_2",
                "player_state_group",
                "player_state",
                "profile_2",
                "profile_armor_map",
                "profile_resist_map",
                "profile",
                "projectile_flight_type",
                "projectile",
                "region",
                "resist_info",
                "resist_type",
                "resource_type",
                "reward_group_to_reward",
                "reward_set_to_reward_group",
                "reward_type",
                "reward",
                "single_character_by_id",
                "skill_category",
                "skill_line",
                "skill_set",
                "skill",
                "target_type",
                "title",
                "vehicle_attachment",
                "vehicle_faction",
                "vehicle_skill_set",
                "vehicle",
                "weapon_ammo_slot",
                "weapon_datasheet",
                "weapon_to_attachment",
                "weapon_to_fire_group",
                "weapon",
                "world_event",
                "world_stat_history",
                "world",
                "zone_effect_type",
                "zone_effect",
                "zone"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "error": {
                    "value": {
                      "count": -1
                    }
                  },
                  "success": {
                    "value": {
                      "count": 14
                    }
                  }
                },
                "schema": {
                  "properties": {
                    "count": {
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "4XX": {
            "description": "Returns `{\"count\": -1}` on error\n"
          }
        },
        "summary": "/count/{game}/{collection}",
        "tags": [
          "API Endpoints"
        ]
      }
    },
    "/get/{game}": {
      "get": {
        "description": "Top-level endpoint for retrieving all available collections for the current game namespace.\nIn addition to the name of the collection, this endpoint may also list the number of entries in the associated table via the `count` field. Note that the `hidden` field is of no practical use to API consumers as it is always `false`.\nThe keys in the `resolve_list` field are permittable values for the `c:resolve=<field>` query command. Note that resolve lists precede the `c:join=<...>` subquery system and has been largely superceded by it. For this reason, the resolved fields are not included in any example payload or other parts of this documentation.\nCurious fact: this is one of the few endpoints in the PlanetSide 2 API that returns native JSON types (`boolean`, `number`, etc.) in its response, without wrapping them in a string.\n",
        "operationId": "get_collections",
        "parameters": [
          {
            "description": "The API game to access.",
            "examples": {
              "ps2": {
                "summary": "PS2 on PC (all servers)",
                "value": "ps2"
              },
              "ps2ps4eu": {
                "summary": "PS2 on PS4 (EU server)",
                "value": "ps2ps4eu"
              },
              "ps2ps4us": {
                "summary": "PS2 on PS4 (US server)",
                "value": "ps2ps4us"
              }
            },
            "in": "path",
            "name": "game",
            "required": true,
            "schema": {
              "enum": [
                "ps2",
                "ps2:v2",
                "ps2ps4eu",
                "ps2ps4eu:v2",
                "ps2ps4us",
                "ps2ps4us:v2"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "character": {
                    "value": {
                      "datatype_list": [
                        {
                          "name": "character",
                          "hidden": false,
                          "count": 15095335,
                          "resolve_list": [
                            "item",
                            "item_full",
                            "profile",
                            "faction",
                            "stat",
                            "stat_by_faction",
                            "weapon_stat",
                            "weapon_stat_by_faction",
                            "stat_history",
                            "online_status",
                            "friends",
                            "world",
                            "outfit",
                            "outfit_member",
                            "outfit_member_extended",
                            "currency"
                          ]
                        }
                      ],
                      "returned": 1
                    }
                  },
                  "characterOnlineStatus": {
                    "value": {
                      "datatype_list": [
                        {
                          "count": "dynamic",
                          "hidden": "false",
                          "name": "characters_online_status",
                          "resolve_list": []
                        }
                      ],
                      "returned": 1
                    }
                  },
                  "outfitMember": {
                    "value": {
                      "datatype_list": [
                        {
                          "name": "outfit_member",
                          "hidden": false,
                          "count": "?",
                          "resolve_list": [
                            "character",
                            "character_name",
                            "characters_stat_history",
                            "online_status",
                            "outfit"
                          ]
                        }
                      ],
                      "returned": 1
                    }
                  }
                },
                "schema": {
                  "properties": {
                    "datatype_list": {
                      "items": {
                        "properties": {
                          "count": {
                            "description": "The number of entries in this colleciton. The values `?` and `dynamic` both signify an uncountable collection. Note that even though no count is displayed here, it may still be accessible via the `count/{game}/{collection}` endpoint.",
                            "oneOf": [
                              {
                                "type": "integer"
                              },
                              {
                                "enum": [
                                  "dynamic",
                                  "?"
                                ],
                                "type": "string"
                              }
                            ]
                          },
                          "hidden": {
                            "description": "Whether this table is hidden from the API. Always false-y. Note that this may either be an actual `false` value, or the string `\"false\"`.",
                            "oneOf": [
                              {
                                "type": "boolean"
                              },
                              {
                                "enum": [
                                  "false"
                                ],
                                "type": "string"
                              }
                            ]
                          },
                          "name": {
                            "description": "Unique name of the collection.",
                            "type": "string"
                          },
                          "resolve_list": {
                            "description": "A list of resolvable names for the collection. These can be passed to the `c:resolve` query parameter to insert additional fields into the returned payload.",
                            "items": {
                              "type": "string"
                            },
                            "type": "array"
                          }
                        },
                        "required": [
                          "name"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "returned": {
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "4XX": {
            "description": "The Census API does not use HTTP status codes to indicate errors."
          }
        },
        "summary": "/get/{game}",
        "tags": [
          "API Endpoints"
        ]
      }
    },
    "/get/{game}/{collection}": {
      "get": {
        "description": "This endpoint documents generic parameters available on most collections.\n\nFor details on collection-specific variables and response schemas, please see the respective collection's query entry.\n",
        "operationId": "get_generic",
        "parameters": [
          {
            "description": "The API game to access.",
            "examples": {
              "ps2": {
                "summary": "PS2 on PC (all servers)",
                "value": "ps2"
              },
              "ps2ps4eu": {
                "summary": "PS2 on PS4 (EU server)",
                "value": "ps2ps4eu"
              },
              "ps2ps4us": {
                "summary": "PS2 on PS4 (US server)",
                "value": "ps2ps4us"
              }
            },
            "in": "path",
            "name": "game",
            "required": true,
            "schema": {
              "enum": [
                "ps2",
                "ps2:v2",
                "ps2ps4eu",
                "ps2ps4eu:v2",
                "ps2ps4us",
                "ps2ps4us:v2"
              ],
              "type": "string"
            }
          },
          {
            "description": "Name of the collection to access.",
            "examples": {
              "character": {
                "summary": "Character",
                "value": "character"
              },
              "outfit": {
                "summary": "Outfit",
                "value": "outfit"
              },
              "world": {
                "summary": "Game Servers",
                "value": "world"
              }
            },
            "in": "path",
            "name": "collection",
            "required": true,
            "schema": {
              "enum": [
                "ability_type",
                "ability",
                "achievement",
                "armor_facing",
                "armor_info",
                "character_name",
                "character",
                "characters_achievement",
                "characters_currency",
                "characters_directive_objective",
                "characters_directive_tier",
                "characters_directive_tree",
                "characters_directive",
                "characters_event_grouped",
                "characters_event",
                "characters_friend",
                "characters_item",
                "characters_leaderboard",
                "characters_online_status",
                "characters_skill",
                "characters_stat_by_faction",
                "characters_stat_history",
                "characters_stat",
                "characters_weapon_stat_by_faction",
                "characters_weapon_stat",
                "characters_world",
                "currency",
                "directive_tier",
                "directive_tree_category",
                "directive_tree",
                "directive",
                "effect_type",
                "effect",
                "empire_scores",
                "event",
                "experience_award_type",
                "experience_rank",
                "experience",
                "facility_link",
                "facility_type",
                "faction",
                "fire_group_to_fire_mode",
                "fire_group",
                "fire_mode_2",
                "fire_mode_to_projectile",
                "fire_mode_type",
                "fire_mode",
                "fish",
                "image_set_default",
                "image_set",
                "image",
                "item_attachment",
                "item_category",
                "item_profile",
                "item_to_weapon",
                "item_type",
                "item",
                "leaderboard",
                "loadout",
                "map_hex",
                "map_region",
                "map",
                "marketing_bundle_item",
                "marketing_bundle_with_1_item",
                "marketing_bundle",
                "metagame_event_state",
                "metagame_event",
                "objective_set_to_objective",
                "objective_type",
                "objective",
                "outfit_member_extended",
                "outfit_member",
                "outfit_rank",
                "outfit",
                "player_state_group_2",
                "player_state_group",
                "player_state",
                "profile_2",
                "profile_armor_map",
                "profile_resist_map",
                "profile",
                "projectile_flight_type",
                "projectile",
                "region",
                "resist_info",
                "resist_type",
                "resource_type",
                "reward_group_to_reward",
                "reward_set_to_reward_group",
                "reward_type",
                "reward",
                "single_character_by_id",
                "skill_category",
                "skill_line",
                "skill_set",
                "skill",
                "target_type",
                "title",
                "vehicle_attachment",
                "vehicle_faction",
                "vehicle_skill_set",
                "vehicle",
                "weapon_ammo_slot",
                "weapon_datasheet",
                "weapon_to_attachment",
                "weapon_to_fire_group",
                "weapon",
                "world_event",
                "world_stat_history",
                "world",
                "zone_effect_type",
                "zone_effect",
                "zone"
              ],
              "type": "string"
            }
          },
          {
            "description": "If set, only the response keys listed will be included in the response object. Overrides `c:hide`. Multiple fields can be comma-separated. Dot-notation is supported to select sub-keys.",
            "examples": {
              "Basic Character Info": {
                "summary": "Basic character info only",
                "value": "name.first,character_id,battle_rank.value,prestige_level"
              },
              "notSet": {
                "summary": "Unset",
                "value": ""
              }
            },
            "explode": false,
            "in": "query",
            "name": "c:show",
            "schema": {
              "type": "string"
            },
            "style": "form"
          },
          {
            "description": "If set, the given response fields will be excluded from the response. If `c:show` is also set, this parameter will be ignored. Multiple fields can be comma-separated. Dot-notation is supported to select sub-keys.",
            "examples": {
              "hideNoisyKeys": {
                "summary": "Remove noisy subkeys",
                "value": "name.first_lower,cert,daily_ribbon"
              }
            },
            "explode": false,
            "in": "query",
            "name": "c:hide",
            "schema": {
              "type": "string"
            },
            "style": "form"
          },
          {
            "description": "Allows sorting the results by one or more fields. Multiple fields can be comma-separated. The sorting direction can be specified by appending `:1` (ascending, default) or `:-1` (descending).",
            "examples": {
              "factionAsp": {
                "summary": "Sort by faction (asc) and ASP rank (desc)",
                "value": "faction_id,prestige_level:-1"
              },
              "notSet": {
                "summary": "Unset",
                "value": ""
              }
            },
            "explode": false,
            "in": "query",
            "name": "c:sort",
            "schema": {
              "type": "string"
            },
            "style": "form"
          },
          {
            "description": "Filters results by entries with non-NULL values in the given fields. Multiple fields can be comma-separated.",
            "explode": false,
            "in": "query",
            "name": "c:has",
            "schema": {
              "type": "string"
            },
            "style": "form"
          },
          {
            "description": "Include additional fields in the response. See the `resolve_list` field of the collection list for permissible values for a given collection.",
            "examples": {
              "notSet": {
                "summary": "Unset",
                "value": ""
              },
              "outfitMember": {
                "summary": "Outfit Member",
                "value": "outfit_member"
              },
              "profile": {
                "summary": "Last Seen Profile",
                "value": "profile"
              }
            },
            "explode": true,
            "in": "query",
            "name": "c:resolve",
            "schema": {
              "type": "string"
            },
            "style": "form"
          },
          {
            "description": "Whether case sensitivity is enabled for string comparisongs. Defaults to true. Note that this impacts query performance, `ps2/character.name`, `ps2/outfit.name`, `ps2/outfit.alias` all provide lowercase variants for improved performance.",
            "examples": {
              "disable": {
                "summary": "Disabled",
                "value": "false"
              }
            },
            "in": "query",
            "name": "c:case",
            "schema": {
              "enum": [
                "true",
                "false",
                "0",
                "1"
              ],
              "type": "string"
            }
          },
          {
            "description": "Return up to N results from the collection. Defaults to 1.",
            "examples": {
              "five": {
                "summary": "5 Results",
                "value": 5
              }
            },
            "in": "query",
            "name": "c:limit",
            "schema": {
              "maximum": 100000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "The `ps2/character` collection is distributed across 20 distinct databases. The per-DB limit may be more predictable in some use-cases. If set, `c:limit` will be ignored. For collections other than `ps2/character`, this parameter falls behaves exactly like `c:limit`.",
            "examples": {
              "five": {
                "summary": "1 Result per DB",
                "value": 1
              }
            },
            "in": "query",
            "name": "c:limitPerDB",
            "schema": {
              "maximum": 5000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Skips the first N results from the result list. Together with `c:limit`, can be used for pagination. Note that sorting may be required to get consistent orderings. Due to the multiple databases used, this behaves unusually for the `ps2/character` collection.",
            "examples": {
              "five": {
                "summary": "Skip first 10 Results",
                "value": 10
              },
              "notSet": {
                "summary": "Unset",
                "value": 0
              }
            },
            "in": "query",
            "name": "c:start",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "Whether to include response keys for NULL values, rather than omitting them. Note that this does not return the canonical `null`, but the string `\"NULL\"`.",
            "examples": {
              "five": {
                "summary": "Enabled",
                "value": "true"
              }
            },
            "in": "query",
            "name": "c:includeNull",
            "schema": {
              "enum": [
                "true",
                "false",
                "1",
                "0"
              ],
              "type": "string"
            }
          },
          {
            "description": "By default, localized fields such as `ps2/item.name` will return results for all supported locales. This field allows specifying a single locale to return, greatly reducing response payload size.",
            "examples": {
              "enOnly": {
                "summary": "Only EN locale",
                "value": "en"
              }
            },
            "in": "query",
            "name": "c:lang",
            "schema": {
              "enum": [
                "en",
                "de",
                "es",
                "fr",
                "it",
                "tr"
              ],
              "type": "string"
            }
          },
          {
            "description": "Similar to `c:resolve`, but allows specifying arbitrary subqueries to add to the response. For details, see the [Census API documentation](https://census.daybreakgames.com/#collection-joining) or the community [Census API Primer](https://github.com/leonhard-s/auraxium/wiki/Census-API-Primer#joined-queries).",
            "examples": {
              "characterOnlineStatus": {
                "summary": "Character online status",
                "value": "characters_online_status^show:online_status"
              },
              "charctersWorld": {
                "summary": "Character with game server",
                "value": "characers_world"
              },
              "notSet": {
                "summary": "Unset",
                "value": ""
              }
            },
            "explode": false,
            "in": "query",
            "name": "c:join",
            "schema": {
              "type": "string"
            },
            "style": "form"
          },
          {
            "description": "Allows rearranging lists of result into a tree. See the [Census API documentation](https://census.daybreakgames.com/#tree-reformatting) for deatils.",
            "in": "query",
            "name": "c:tree",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Adds the top-level field `timing` containing timing information to the result object. For queries using `c:resolve` or `c:join`, this also contains information about the subqueries.",
            "examples": {
              "timing": {
                "summary": "With timing info",
                "value": "true"
              }
            },
            "in": "query",
            "name": "c:timing",
            "schema": {
              "enum": [
                "true",
                "false",
                "0",
                "1"
              ],
              "type": "string"
            }
          },
          {
            "description": "When performing fuzzy string queries, such as `^` (startswith) or `*` (contains), promote any match exactly matching the full input string to the top of the search list. Useful for user-facing name lookups.",
            "in": "query",
            "name": "c:exactMatchFirst",
            "schema": {
              "enum": [
                "true",
                "false",
                "0",
                "1"
              ],
              "type": "string"
            }
          },
          {
            "description": "Instead of fetching results, list all distinct values for a given field. Note that this may include duplicate entries for `ps2/character` due to the multiple databases. Results are truncated to 20'000 values.",
            "examples": {
              "factions": {
                "summary": "Unique factions",
                "value": "faction_id"
              },
              "notSet": {
                "summary": "Unset",
                "value": ""
              },
              "profiles": {
                "summary": "Unique profiles",
                "value": "profile_id"
              }
            },
            "in": "query",
            "name": "c:distinct",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "By default, the API will retry any queries once before failing. By setting this value to `false`, you can fail earlier, which can be useful if you have your own retry mechanisms or logging configuration.",
            "examples": {
              "noRetry": {
                "summary": "Retry disabled",
                "value": "false"
              }
            },
            "in": "query",
            "name": "c:retry",
            "schema": {
              "enum": [
                "true",
                "false",
                "0",
                "1"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "characterInfo": {
                    "value": {
                      "character_list": [
                        {
                          "name": {
                            "first": "360Xvortex"
                          },
                          "faction_id": "3",
                          "battle_rank": {
                            "value": "1"
                          },
                          "prestige_level": "0"
                        }
                      ],
                      "returned": 1
                    }
                  },
                  "factionTags": {
                    "value": {
                      "count": 5,
                      "faction_list": [
                        {
                          "code_tag": [
                            "NC",
                            "None",
                            "NSO",
                            "TR",
                            "VS"
                          ]
                        }
                      ],
                      "returned": 1
                    }
                  },
                  "mapFacilities": {
                    "value": {
                      "map_list": [
                        {
                          "ZoneId": "2",
                          "Regions": {
                            "IsList": "1",
                            "Row": [
                              {
                                "RowData": {
                                  "RegionId": "2101",
                                  "FactionId": "3",
                                  "map_region": {
                                    "map_region_id": "2101",
                                    "zone_id": "2",
                                    "facility_id": "7500",
                                    "facility_name": "Hvar",
                                    "facility_type_id": "4",
                                    "facility_type": "Tech Plant",
                                    "location_x": "-656.0273",
                                    "location_y": "491.7669",
                                    "location_z": "-2444.069",
                                    "reward_amount": "1",
                                    "reward_currency_id": "1000"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      ],
                      "returned": 1
                    }
                  }
                },
                "schema": {
                  "properties": {
                    "count": {
                      "minimum": 0,
                      "type": "integer",
                      "summary": "Only included if `c:distinct` is used."
                    },
                    "returned": {
                      "minimum": 0,
                      "type": "integer"
                    },
                    "timing": {
                      "properties": {
                        "total-ms": {
                          "type": "integer"
                        }
                      },
                      "summary": "Only included if `c:timing` is enabled.",
                      "type": "object"
                    }
                  },
                  "patternProperties": {
                    "^(\\w+_list)$": {
                      "items": {},
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "4XX": {
            "description": "The Census API does not use HTTP status codes to indicate errors."
          }
        },
        "summary": "/get/{game}/{collection}",
        "tags": [
          "API Endpoints"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "localized_string": {
        "properties": {
          "de": {
            "description": "German locale",
            "type": "string"
          },
          "en": {
            "description": "English locale",
            "type": "string"
          },
          "es": {
            "description": "Spanish locale",
            "type": "string"
          },
          "fr": {
            "description": "French locale",
            "type": "string"
          },
          "it": {
            "description": "Italian locale",
            "type": "string"
          },
          "tr": {
            "description": "Turkish locale, unfinished and not available for most fields",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ability": {
        "type": "object",
        "description": "An ability triggered by a character or vehicle.\n\nAbilities in the API are more generic than the in-game abilities and also cover other mechanics such as scopes and consumables.\n\nThe generic fields `paramX` and `stringX` are documented in the the corresponding `ability_type` entry.\n",
        "x-tags": [
          "Effects & Abilities"
        ],
        "properties": {
          "ability_id": {
            "description": "Unique identifier of the ability.",
            "type": "string",
            "x-cast-to": "int32"
          },
          "ability_type_id": {
            "description": "Unique identifier of the ability's type.",
            "type": "string",
            "x-cast-to": "int32",
            "x-reference-to": "ps2/ability_type"
          },
          "distance_max": {
            "description": "Maximum cast range of the ability for targeted abilities, such as the Nano-Repair Kit (aka. repair gun).",
            "type": "string",
            "x-cast-to": "float"
          },
          "expire_msec": {
            "description": "Duration of the ability in milliseconds.",
            "type": "string",
            "x-cast-to": "int32"
          },
          "first_use_delay_msec": {
            "description": "Initial delay before the ability can be used for the first time in milliseconds.",
            "type": "string",
            "x-cast-to": "int32"
          },
          "flag_toggle": {
            "description": "Whether the ability is toggled.",
            "type": "string",
            "x-cast-to": "boolean"
          },
          "next_use_delay_msec": {
            "description": "Reuse cooldown for toggled abilities (mostly cloaks) in milliseconds",
            "type": "string",
            "x-cast-to": "int32"
          },
          "param1": {
            "description": "Generic numeric parameter. See the corresponding `ps2/ability_type` for details.",
            "type": "string",
            "x-cast-to": "float"
          },
          "param10": {
            "description": "Generic numeric parameter. See the corresponding `ps2/ability_type` for details.",
            "type": "string",
            "x-cast-to": "float"
          },
          "param11": {
            "description": "Generic numeric parameter. See the corresponding `ps2/ability_type` for details.",
            "type": "string",
            "x-cast-to": "float"
          },
          "param12": {
            "description": "Generic numeric parameter. See the corresponding `ps2/ability_type` for details.",
            "type": "string",
            "x-cast-to": "float"
          },
          "param13": {
            "description": "Generic numeric parameter. See the corresponding `ps2/ability_type` for details.",
            "type": "string",
            "x-cast-to": "float"
          },
          "param14": {
            "description": "Generic numeric parameter. See the corresponding `ps2/ability_type` for details.",
            "type": "string",
            "x-cast-to": "float"
          },
          "param2": {
            "description": "Generic numeric parameter. See the corresponding `ps2/ability_type` for details.",
            "type": "string",
            "x-cast-to": "float"
          },
          "param3": {
            "description": "Generic numeric parameter. See the corresponding `ps2/ability_type` for details.",
            "type": "string",
            "x-cast-to": "float"
          },
          "param4": {
            "description": "Generic numeric parameter. See the corresponding `ps2/ability_type` for details.",
            "type": "string",
            "x-cast-to": "float"
          },
          "param5": {
            "description": "Generic numeric parameter. See the corresponding `ps2/ability_type` for details.",
            "type": "string",
            "x-cast-to": "float"
          },
          "param6": {
            "description": "Generic numeric parameter. See the corresponding `ps2/ability_type` for details.",
            "type": "string",
            "x-cast-to": "float"
          },
          "param7": {
            "description": "Generic numeric parameter. See the corresponding `ps2/ability_type` for details.",
            "type": "string",
            "x-cast-to": "float"
          },
          "param8": {
            "description": "Generic numeric parameter. See the corresponding `ps2/ability_type` for details.",
            "type": "string",
            "x-cast-to": "float"
          },
          "param9": {
            "description": "Generic numeric parameter. See the corresponding `ps2/ability_type` for details.",
            "type": "string",
            "x-cast-to": "float"
          },
          "radius_max": {
            "description": "Effect radius of the ability, such as the Nano Regen Device (aka. AoE heal).",
            "type": "string",
            "x-cast-to": "float"
          },
          "resource_cost_per_msec": {
            "description": "Cost per millisecond for keeping the ability active.",
            "type": "string",
            "x-cast-to": "float"
          },
          "resource_first_cost": {
            "description": "Initial cost for activating the ability.",
            "type": "string",
            "x-cast-to": "float"
          },
          "resource_type_id": {
            "description": "Unique identifier of the resource type consumed by the ability.",
            "type": "string",
            "x-cast-to": "int32",
            "x-reference-to": "ps2/resource_type"
          },
          "reuse_delay_msec": {
            "description": "Ability cooldown in milliseconds.",
            "type": "string",
            "x-cast-to": "int32"
          },
          "string1": {
            "description": "Generic string field. See the corresponding `ps2/ability_type` for details.",
            "type": "string"
          },
          "string2": {
            "description": "Generic string field. See the corresponding `ps2/ability_type` for details.",
            "type": "string"
          },
          "string3": {
            "description": "Generic string field. See the corresponding `ps2/ability_type` for details.",
            "type": "string"
          },
          "string4": {
            "description": "Generic string field. See the corresponding `ps2/ability_type` for details.",
            "type": "string"
          }
        },
        "required": [
          "ability_id",
          "ability_type_id"
        ],
        "examples": [
          {
            "ability_list": [
              {
                "ability_id": "7719",
                "ability_type_id": "10",
                "resource_type_id": "38",
                "resource_first_cost": "0.32",
                "resource_cost_per_msec": "0.32",
                "radius_max": "7",
                "flag_toggle": "1"
              }
            ],
            "returned": 1
          }
        ]
      },
      "ability_type": {
        "type": "object",
        "description": "A type of ability.\n\nThe generic fields `paramX` and `stringX` are documented here. Note that most of these generic fields are currently not used.\n",
        "x-tags": [
          "Effects & Abilities"
        ],
        "properties": {
          "ability_type_id": {
            "description": "Unique ID of the collection.",
            "type": "string",
            "x-cast-to": "int32"
          },
          "description": {
            "description": "Description of the ability type.",
            "type": "string"
          },
          "param1": {
            "description": "Documentation for this numeric parameter on abilities of this type.",
            "type": "string"
          },
          "param10": {
            "description": "Documentation for this numeric parameter on abilities of this type.",
            "type": "string"
          },
          "param11": {
            "description": "Documentation for this numeric parameter on abilities of this type.",
            "type": "string"
          },
          "param12": {
            "description": "Documentation for this numeric parameter on abilities of this type.",
            "type": "string"
          },
          "param13": {
            "description": "Documentation for this numeric parameter on abilities of this type.",
            "type": "string"
          },
          "param14": {
            "description": "Documentation for this numeric parameter on abilities of this type.",
            "type": "string"
          },
          "param2": {
            "description": "Documentation for this numeric parameter on abilities of this type.",
            "type": "string"
          },
          "param3": {
            "description": "Documentation for this numeric parameter on abilities of this type.",
            "type": "string"
          },
          "param4": {
            "description": "Documentation for this numeric parameter on abilities of this type.",
            "type": "string"
          },
          "param5": {
            "description": "Documentation for this numeric parameter on abilities of this type.",
            "type": "string"
          },
          "param6": {
            "description": "Documentation for this numeric parameter on abilities of this type.",
            "type": "string"
          },
          "param7": {
            "description": "Documentation for this numeric parameter on abilities of this type.",
            "type": "string"
          },
          "param8": {
            "description": "Documentation for this numeric parameter on abilities of this type.",
            "type": "string"
          },
          "param9": {
            "description": "Documentation for this numeric parameter on abilities of this type.",
            "type": "string"
          },
          "string1": {
            "description": "Documentation for this string parameter on abilities of this type.",
            "type": "string"
          },
          "string2": {
            "description": "Documentation for this string parameter on abilities of this type.",
            "type": "string"
          },
          "string3": {
            "description": "Documentation for this string parameter on abilities of this type.",
            "type": "string"
          },
          "string4": {
            "description": "Documentation for this string parameter on abilities of this type.",
            "type": "string"
          }
        },
        "required": [
          "ability_type_id"
        ],
        "examples": [
          {
            "ability_type_list": [
              {
                "ability_type_id": "3"
              },
              {
                "ability_type_id": "4"
              },
              {
                "ability_type_id": "5",
                "description": "Target not used"
              },
              {
                "ability_type_id": "6"
              },
              {
                "ability_type_id": "8"
              },
              {
                "ability_type_id": "10",
                "param1": "Check Target Requirement Periodically"
              },
              {
                "ability_type_id": "12"
              },
              {
                "ability_type_id": "13"
              },
              {
                "ability_type_id": "16"
              },
              {
                "ability_type_id": "17",
                "param1": "Check Target Requirement Periodically"
              },
              {
                "ability_type_id": "19"
              },
              {
                "ability_type_id": "26",
                "description": "Stays locked on first valid target found"
              },
              {
                "ability_type_id": "30"
              },
              {
                "ability_type_id": "34",
                "description": "MountedVehicleMaintainOnGuid"
              }
            ],
            "returned": 14
          }
        ]
      },
      "achievement": {
        "type": "object",
        "description": "Endpoint for weapon medals and service ribbons.\n\nThere is no \"achievement type\" collection or field, but they can be grouped by the `repeatable` field, which is only true for service ribbons.\n",
        "x-tags": [
          "Progression"
        ],
        "properties": {
          "achievement_id": {
            "description": "Unique ID of the collection.",
            "type": "string",
            "x-cast-to": "int32"
          },
          "description": {
            "properties": {
              "de": {
                "description": "German locale",
                "type": "string"
              },
              "en": {
                "description": "English locale",
                "type": "string"
              },
              "es": {
                "description": "Spanish locale",
                "type": "string"
              },
              "fr": {
                "description": "French locale",
                "type": "string"
              },
              "it": {
                "description": "Italian locale",
                "type": "string"
              },
              "tr": {
                "description": "Turkish locale, unfinished and not available for most fields",
                "type": "string"
              }
            },
            "type": "object"
          },
          "image_id": {
            "description": "ID of the image associated with this achievement.",
            "type": "string",
            "x-cast-to": "int32"
          },
          "image_path": {
            "description": "Path to the image associated with this achievement.",
            "type": "string"
          },
          "image_set_id": {
            "description": "ID of the image set associated with this achievement.",
            "type": "string",
            "x-cast-to": "int32"
          },
          "item_id": {
            "description": "ID of the item associated with this achievement. Can be used to associate weapons with their medals/ribbon.",
            "type": "string",
            "x-cast-to": "int32"
          },
          "name": {
            "properties": {
              "de": {
                "description": "German locale",
                "type": "string"
              },
              "en": {
                "description": "English locale",
                "type": "string"
              },
              "es": {
                "description": "Spanish locale",
                "type": "string"
              },
              "fr": {
                "description": "French locale",
                "type": "string"
              },
              "it": {
                "description": "Italian locale",
                "type": "string"
              },
              "tr": {
                "description": "Turkish locale, unfinished and not available for most fields",
                "type": "string"
              }
            },
            "type": "object"
          },
          "objective_group_id": {
            "description": "ID of the objective group counting towards this achievement.",
            "type": "string",
            "x-cast-to": "int32"
          },
          "repeatable": {
            "description": "Whether this achievement can be gained more than once. True for ribbons, false for medals.",
            "type": "string",
            "x-cast-to": "bool"
          },
          "reward_id": {
            "description": "ID of the reward granted upon completion of this achievement.",
            "type": "string",
            "x-cast-to": "int32"
          }
        },
        "required": [
          "achievement_id",
          "item_id"
        ],
        "examples": [
          {
            "achievement_list": [
              {
                "achievement_id": "12411",
                "item_id": "1894",
                "objective_group_id": "12411",
                "reward_id": "100",
                "repeatable": "0",
                "name": {
                  "de": "Betelgeuse 54-A",
                  "en": "Betelgeuse 54-A",
                  "es": "Betelgeuse 54-A",
                  "fr": "B\u00e9telgeuse 54-A",
                  "it": "Betelgeuse 54-A"
                },
                "description": {
                  "de": "10 Feinde get\u00f6tet",
                  "en": "10 Enemies Killed",
                  "es": "10 enemigos muertos",
                  "fr": "10 ennemis tu\u00e9s",
                  "it": "10 nemici uccisi",
                  "tr": "10 D\u00fc\u015fman \u00d6ld\u00fcr\u00fcld\u00fc"
                },
                "image_set_id": "1564",
                "image_id": "3072",
                "image_path": "/files/ps2/images/static/3072.png"
              },
              {
                "achievement_id": "12412",
                "item_id": "1894",
                "objective_group_id": "12412",
                "reward_id": "101",
                "repeatable": "0",
                "name": {
                  "de": "Betelgeuse 54-A",
                  "en": "Betelgeuse 54-A",
                  "es": "Betelgeuse 54-A",
                  "fr": "B\u00e9telgeuse 54-A",
                  "it": "Betelgeuse 54-A"
                },
                "description": {
                  "de": "50 Feinde get\u00f6tet",
                  "en": "50 Enemies Killed",
                  "es": "50 enemigos muertos",
                  "fr": "50 ennemis tu\u00e9s",
                  "it": "50 nemici uccisi",
                  "tr": "50 D\u00fc\u015fman \u00d6ld\u00fcr\u00fcld\u00fc"
                },
                "image_set_id": "1565",
                "image_id": "3079",
                "image_path": "/files/ps2/images/static/3079.png"
              },
              {
                "achievement_id": "12413",
                "item_id": "1894",
                "objective_group_id": "12413",
                "reward_id": "102",
                "repeatable": "0",
                "name": {
                  "de": "Betelgeuse 54-A",
                  "en": "Betelgeuse 54-A",
                  "es": "Betelgeuse 54-A",
                  "fr": "B\u00e9telgeuse 54-A",
                  "it": "Betelgeuse 54-A"
                },
                "description": {
                  "de": "100 Feinde get\u00f6tet",
                  "en": "100 Enemies Killed",
                  "es": "100 enemigos muertos",
                  "fr": "100 ennemis tu\u00e9s",
                  "it": "100 nemici uccisi",
                  "tr": "100 D\u00fc\u015fman \u00d6ld\u00fcr\u00fcld\u00fc"
                },
                "image_set_id": "1566",
                "image_id": "3075",
                "image_path": "/files/ps2/images/static/3075.png"
              },
              {
                "achievement_id": "12414",
                "item_id": "1894",
                "objective_group_id": "12414",
                "reward_id": "615",
                "repeatable": "0",
                "name": {
                  "de": "Betelgeuse 54-A",
                  "en": "Betelgeuse 54-A",
                  "es": "Betelgeuse 54-A",
                  "fr": "B\u00e9telgeuse 54-A",
                  "it": "Betelgeuse 54-A"
                },
                "description": {
                  "de": "1000 Feinde get\u00f6tet",
                  "en": "1000 Enemies Killed",
                  "es": "1000 enemigos muertos",
                  "fr": "1 000 ennemis tu\u00e9s",
                  "it": "1000 nemici uccisi",
                  "tr": "1000 D\u00fc\u015fman \u00d6ld\u00fcr\u00fcld\u00fc"
                },
                "image_set_id": "1567",
                "image_id": "3068",
                "image_path": "/files/ps2/images/static/3068.png"
              }
            ],
            "returned": 4
          },
          {
            "achievement_list": [
              {
                "achievement_id": "2554",
                "item_id": "0",
                "objective_group_id": "2554",
                "reward_id": "3019",
                "repeatable": "1",
                "name": {
                  "de": "Heilung l\u00e4uft",
                  "en": "Healing",
                  "es": "Curaci\u00f3n",
                  "fr": "Gu\u00e9rison en cours",
                  "it": "Guarigione",
                  "tr": "\u0130yile\u015ftiriliyor"
                },
                "description": {
                  "de": "Sanit\u00e4ter k\u00f6nnen schnell den Schaden heilen, der verb\u00fcndeten Truppen zugef\u00fcgt wurde und sie dadurch l\u00e4nger im Kampf behalten.",
                  "en": "Medics can quickly heal damage that has been done to allied troops keeping in the fight longer.",
                  "es": "Los m\u00e9dicos pueden curar a las tropas aliadas r\u00e1pidamente para mantenerlas m\u00e1s tiempo en combate.",
                  "fr": "Les M\u00e9decins peuvent gu\u00e9rir rapidement les d\u00e9g\u00e2ts inflig\u00e9s aux troupes alli\u00e9es et les garder plus longtemps au combat. ",
                  "it": "I medici possono velocemente guarire i danni inferti alle truppe alleate facendole restare pi\u00f9 a lungo nel combattimento.",
                  "tr": "S\u0131hh\u0131yeler m\u00fcttefik askerlerin daha uzun s\u00fcre sava\u015fmalar\u0131n\u0131 sa\u011flamak i\u00e7in h\u0131zl\u0131ca yaralar\u0131 sarabilirler."
                },
                "image_set_id": "7996",
                "image_id": "8440",
                "image_path": "/files/ps2/images/static/8440.png"
              }
            ],
            "returned": 1
          }
        ]
      },
      "armor_facing": {
        "type": "object",
        "description": "Enumerates the armor facing angles used for directional damage reduction on vehicles.\n",
        "x-tags": [
          "Damage Calculation"
        ],
        "properties": {
          "armor_facing_id": {
            "description": "Unique ID of the collection.",
            "type": "string",
            "x-cast-to": "int32"
          },
          "description": {
            "description": "Description of the armor facing direction.",
            "type": "string"
          }
        },
        "required": [
          "armor_facing_id",
          "description"
        ],
        "examples": [
          {
            "armor_facing_list": [
              {
                "armor_facing_id": "0",
                "description": "Front"
              },
              {
                "armor_facing_id": "1",
                "description": "Right"
              },
              {
                "armor_facing_id": "2",
                "description": "Top"
              },
              {
                "armor_facing_id": "3",
                "description": "Rear"
              },
              {
                "armor_facing_id": "4",
                "description": "Left"
              },
              {
                "armor_facing_id": "5",
                "description": "Bottom"
              },
              {
                "armor_facing_id": "6",
                "description": "All"
              }
            ],
            "returned": 7
          }
        ]
      },
      "armor_info": {
        "type": "object",
        "description": "description: A set of armor values for each armor facing angle on a vehicle.\n",
        "x-tags": [
          "Damage Calculation"
        ],
        "properties": {
          "armor_amount": {
            "description": "Flat damage reduction applied to incoming damage. Only used in the tutorial to make target dummies invincible.",
            "type": "string",
            "x-cast-to": "int32"
          },
          "armor_facing_id": {
            "description": "ID of the armor facing direction.",
            "type": "string",
            "x-cast-to": "int32"
          },
          "armor_info_id": {
            "description": "Unique ID of the collection.",
            "type": "string",
            "x-cast-to": "int32"
          },
          "armor_percent": {
            "description": "Damage reduction in percent. Negative values increase damage taken.",
            "type": "string",
            "x-cast-to": "float"
          },
          "description": {
            "description": "Description of the armor info entry.",
            "type": "string"
          }
        },
        "required": [
          "armor_info_id",
          "armor_facing_id"
        ],
        "examples": [
          {
            "armor_info_list": [
              {
                "armor_info_id": "20",
                "armor_facing_id": "0",
                "armor_percent": "0",
                "description": "Sunderer - Front"
              },
              {
                "armor_info_id": "21",
                "armor_facing_id": "1",
                "armor_percent": "0",
                "description": "Sunderer - Right"
              },
              {
                "armor_info_id": "22",
                "armor_facing_id": "2",
                "armor_percent": "0",
                "description": "Sunderer - Top"
              },
              {
                "armor_info_id": "23",
                "armor_facing_id": "3",
                "armor_percent": "0",
                "description": "Sunderer - Rear"
              },
              {
                "armor_info_id": "24",
                "armor_facing_id": "4",
                "armor_percent": "0",
                "description": "Sunderer - Left"
              },
              {
                "armor_info_id": "25",
                "armor_facing_id": "5",
                "armor_percent": "0",
                "description": "Sunderer - Bottom"
              }
            ],
            "returned": 6
          }
        ]
      },
      "character": {
        "type": "object",
        "description": "Main `character` collection holding player data.\n\nThis collection is randomly distributed across 20 different databases, causing some unusual behaviour when filtering. For example, the `c:distinct` parameter will fetch the distinct values for each database and aggregate them in the response, resulting in duplicate entries.\n\nIn addition to the commonly-used parameters provided, this endpoint may be queried by any of its fields, including sub-keys like `times.creation`.\n",
        "x-tags": [
          "Character Information"
        ],
        "properties": {
          "battle_rank": {
            "description": "Sub-object providing battle rank information.",
            "properties": {
              "percent_to_next": {
                "description": "Progress to the next level-up.",
                "type": "string",
                "x-cast-to": "float"
              },
              "value": {
                "description": "Current battle rank. Note that due to the A.S.P. prestige system, this is no longer sufficient to express player level. Always check `prestige_level` as well.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "certs": {
            "description": "Sub-object providing certification point information.",
            "properties": {
              "available_points": {
                "description": "Current certification point balance.",
                "type": "string",
                "x-cast-to": "int32"
              },
              "earned_points": {
                "description": "Certifications earned through experience gain.",
                "type": "string",
                "x-cast-to": "int32"
              },
              "gifted_points": {
                "description": "Certifications gifted through in-game events or refunds.",
                "type": "string",
                "x-cast-to": "int32"
              },
              "percent_to_next": {
                "description": "Progress to earning the next certification point (every 250 exp).",
                "type": "string",
                "x-cast-to": "float"
              },
              "spent_points": {
                "description": "Certifications points spent on skills and implant bundles.",
                "type": "string",
                "x-cast-to": "int32"
              }
            },
            "type": "object"
          },
          "character_id": {
            "description": "Unique ID of the collection.",
            "type": "string",
            "x-cast-to": "int64"
          },
          "daily_ribbon": {
            "description": "Sub-object for daily ribbon bonuses. Note that ribbon bonuses have been disabled, rendering this object useless. It is recommended to treat is as optional in client code in case it ever gets removed from the response object.",
            "properties": {
              "count": {
                "description": "Number of daily ribbon bonuses available for collection.",
                "type": "string",
                "x-cast-to": "int32"
              },
              "date": {
                "description": "Human-readable version of `time`.",
                "type": "string"
              },
              "time": {
                "description": "Next time a daily ribbon bonus will be granted.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "faction_id": {
            "description": "Faction of the character. For NSOs, this equals the value of NSOs. An NSOs currently or home faction is not exposed on the REST API, but can be determined via the `team_id` of some WebSocket payloads.",
            "type": "string",
            "x-cast-to": "int32",
            "x-reference-to": "faction.faction_id"
          },
          "head_id": {
            "description": "Identifier for the character's in-game model. Note that with gender change tokens, this is no longer guaranteed to be immutable across a character's career.",
            "type": "string",
            "x-cast-to": "int32"
          },
          "name": {
            "description": "Name of the character. Use the `first_lower` field for faster case-insensitive searches without needing to set `c:case=false`.",
            "properties": {
              "first": {
                "type": "string"
              },
              "first_lower": {
                "type": "string"
              }
            },
            "type": "object"
          },
          "prestige_level": {
            "description": "The A.S.P. rank of the character.",
            "type": "string",
            "x-cast-to": "int32"
          },
          "profile_id": {
            "description": "Class of the character when the last logged off. This value can generally only be one of the 24 infantry classes available in the legacy `ps2/profile` collection, though other values are possible due to bad data or deleted characters.",
            "type": "string",
            "x-cast-to": "int32",
            "x-reference-to": "profile_2.profile_id"
          },
          "times": {
            "description": "Sub-object providing login time and playtime information.",
            "properties": {
              "creation": {
                "description": "Character creation timestamp in UTC.",
                "type": "string"
              },
              "creation_date": {
                "description": "Human-readable version of `creation`.",
                "type": "string"
              },
              "last_login": {
                "description": "Last time the character logged in. Together with `last_save`, this can be used to construct the duration of the last play session of the character.",
                "type": "string"
              },
              "last_login_date": {
                "description": "Human-readable version of `last_login`.",
                "type": "string"
              },
              "last_save": {
                "description": "Last time the character info was updated. This generally corresponds to the last time the character logged off. For this reason, characters are generally not available on the API during their first play session.",
                "type": "string"
              },
              "last_save_date": {
                "description": "Human-readable version of `last_save`.",
                "type": "string"
              },
              "login_count": {
                "description": "Number of individual logins by the character.",
                "type": "string",
                "x-cast-to": "int32"
              },
              "minutes_played": {
                "description": "Total playtime in minutes.",
                "type": "string",
                "x-cast-to": "int32"
              }
            },
            "type": "object"
          },
          "title_id": {
            "description": "Currently selected title of the character. Useful for playing long names of players, e.g. \"Snowblower Higby\". A title ID of `0` corresponds to a player having selected \"No Title\" in-game.",
            "type": "string",
            "x-cast-to": "int32",
            "x-reference-to": "title.title_id"
          }
        },
        "required": [
          "character_id"
        ],
        "examples": [
          {
            "character_list": [
              {
                "character_id": "5428010618015189601",
                "name": {
                  "first": "Higby",
                  "first_lower": "higby"
                },
                "faction_id": "2",
                "head_id": "1",
                "title_id": "100",
                "times": {
                  "creation": "1353427357",
                  "creation_date": "2012-11-20 16:02:37.0",
                  "last_save": "1669323771",
                  "last_save_date": "2022-11-24 21:02:51.0",
                  "last_login": "1669320455",
                  "last_login_date": "2022-11-24 20:07:35.0",
                  "login_count": "1738",
                  "minutes_played": "75517"
                },
                "certs": {
                  "earned_points": "214706",
                  "gifted_points": "78844",
                  "spent_points": "257491",
                  "available_points": "36059",
                  "percent_to_next": "0.1721388888362"
                },
                "battle_rank": {
                  "percent_to_next": "2",
                  "value": "101"
                },
                "profile_id": "4",
                "daily_ribbon": {
                  "count": "0",
                  "time": "1669248000",
                  "date": "2022-11-24 00:00:00.0"
                },
                "prestige_level": "0"
              }
            ],
            "returned": 1
          }
        ]
      },
      "character_name": {
        "type": "object",
        "description": "Optimized, low-bandwidth endpoint for character name resolution.\n",
        "x-tags": [
          "Character Information"
        ],
        "properties": {
          "character_id": {
            "description": "Unique ID of the collection.",
            "type": "string",
            "x-cast-to": "int64"
          },
          "name": {
            "description": "Name of the character. Use the `first_lower` field for faster case-insensitive searches without needing to set `c:case=false`.\n",
            "properties": {
              "first": {
                "type": "string"
              },
              "first_lower": {
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "required": [
          "character_id",
          "name"
        ],
        "examples": [
          {
            "character_name_list": [
              {
                "character_id": "5428010618015189601",
                "name": {
                  "first": "Higby",
                  "first_lower": "higby"
                }
              }
            ],
            "returned": 1
          }
        ]
      },
      "characters_achievement": {
        "type": "object",
        "description": "List the achievement progress for a character.\n",
        "x-tags": [
          "Character Information"
        ],
        "properties": {
          "achievement_id": {
            "description": "Unique ID of the achievement being returned.",
            "type": "string",
            "x-cast-to": "int32",
            "x-reference-to": "achievement.achievement_id"
          },
          "character_id": {
            "description": "Character for which the achievement list is being returned.",
            "type": "string",
            "x-cast-to": "int64",
            "x-reference-to": "character.character_id"
          },
          "earned_count": {
            "description": "Number of times the achievement has been earned. Only exceeds 1 for ribbons.",
            "type": "string",
            "x-cast-to": "int32"
          },
          "finish": {
            "description": "UTC timestamp of when this achievement was completed. Remains at zero for repeatable achievements.",
            "type": "string"
          },
          "finish_date": {
            "description": "Human-readable version of `finish`.",
            "type": "string"
          },
          "last_save": {
            "description": "UTC timestamp of when the underlying table was updated.",
            "type": "string"
          },
          "last_save_date": {
            "description": "Human-readable version of `last_save`.",
            "type": "string"
          },
          "start": {
            "description": "UTC timestamp of when progression towards this achievement started. For repeatable achievements, this marks the last time the achievement was gained.",
            "type": "string"
          },
          "start_date": {
            "description": "Human-readable version of `start`.",
            "type": "string"
          }
        },
        "required": [
          "character_id",
          "achievement_id"
        ],
        "examples": [
          {
            "characters_achievement_list": [
              {
                "character_id": "5428010618015189601",
                "achievement_id": "113",
                "earned_count": "1",
                "start": "1384645540",
                "start_date": "2013-11-16 23:45:40.0",
                "finish": "1404874213",
                "finish_date": "2014-07-09 02:50:13.0",
                "last_save": "1412784696",
                "last_save_date": "2014-10-08 16:11:36.142294"
              }
            ],
            "returned": 1
          },
          {
            "characters_achievement_list": [
              {
                "character_id": "5428010618015189601",
                "achievement_id": "2552",
                "earned_count": "468",
                "start": "1432682221",
                "start_date": "2015-05-26 23:17:01.0",
                "finish": "0",
                "finish_date": "1970-01-01 00:00:00.0",
                "last_save": "1432659069",
                "last_save_date": "2015-05-26 16:51:09.0"
              }
            ],
            "returned": 1
          }
        ]
      },
      "characters_currency": {
        "type": "object",
        "description": "Lists the currencies owned by a character.\n\nNote that this table has been inconsistent since the introduction of the A.S.P. system: in addition to the currency value (Nanites), an extra `prestige_currency` key has been added, rather than being its own currency.\n",
        "x-tags": [
          "Character Information"
        ],
        "allOf": [
          {
            "type": "object",
            "properties": {
              "currency_id": {
                "description": "Unique ID of the currency being returned.",
                "type": "string",
                "x-cast-to": "int32",
                "x-reference-to": "currency.currency_id"
              },
              "currency_name": {
                "description": "Internal name of the currency being returned.",
                "type": "string"
              },
              "prestige_currency": {
                "description": "Number of A.S.P. tokens available to the character.",
                "type": "string",
                "x-cast-to": "int32"
              },
              "quantity": {
                "description": "Amount of currency the character owns.",
                "type": "string",
                "x-cast-to": "int32"
              }
            }
          },
          {
            "properties": {
              "character_id": {
                "description": "Character for which the currency list is being returned.",
                "type": "string",
                "x-cast-to": "int64",
                "x-reference-to": "character.character_id"
              }
            },
            "type": "object"
          }
        ],
        "required": [
          "character_id",
          "currency_id"
        ]
      },
      "characters_directive_objective": {
        "type": "object",
        "description": "Current progress of a character within a directive.\n\nThe current value of the directive progress can be found in the `state_data` field of this endpoint. The corresponding target value is found in the corresponding `objective`, usually in the `param1` field.\n",
        "x-tags": [
          "Character Information"
        ],
        "properties": {
          "character_id": {
            "description": "Character for which the directive objective status is being returned.",
            "type": "string",
            "x-cast-to": "int64",
            "x-reference-to": "character.character_id"
          },
          "directive_id": {
            "description": "ID of the directive for which objective status is returned.",
            "type": "string",
            "x-cast-to": "int32",
            "x-reference-to": "directive.directive_id"
          },
          "objective_group_id": {
            "description": "ID of the objective group for which status is returned.",
            "type": "string",
            "x-cast-to": "int32",
            "x-reference-to": "objective_group.objective_group_id"
          },
          "objective_id": {
            "description": "ID of the objective for which status is returned.",
            "type": "string",
            "x-cast-to": "int32",
            "x-reference-to": "objective.objective_id"
          },
          "state_data": {
            "description": "Progress of the character of the objective. This is the \"current\" value of the progress. The total can be found in the corresponding `objective`, usually under `param1`.",
            "type": "string",
            "x-cast-to": "int32"
          },
          "status": {
            "description": "Unknown.",
            "type": "string",
            "x-cast-to": "boolean"
          }
        },
        "required": [
          "character_id",
          "directive_id",
          "objective_id",
          "objective_group_id"
        ],
        "examples": [
          {
            "characters_directive_objective_list": [
              {
                "character_id": "5428010618015189601",
                "directive_id": "1732",
                "objective_id": "13402",
                "objective_group_id": "13402",
                "status": "1",
                "state_data": "42"
              }
            ],
            "returned": 1
          }
        ]
      },
      "characters_directive_tier": {
        "type": "object",
        "description": "Directive tier completion information for a character.\n",
        "x-tags": [
          "Character Information"
        ],
        "properties": {
          "character_id": {
            "description": "Character for which the directive tier list is being returned.",
            "type": "string",
            "x-cast-to": "int64",
            "x-reference-to": "character.character_id"
          },
          "completion_time": {
            "description": "UTC timestamp of when the directive tier was completed. Zero if not completed.",
            "type": "string"
          },
          "completion_time_date": {
            "description": "Human-readable version of `completion_time`.",
            "type": "string"
          },
          "directive_tier_id": {
            "description": "ID of the directive tier.",
            "type": "string",
            "x-cast-to": "int32",
            "x-reference-to": "directive_tier.directive_tier_id"
          },
          "directive_tree_id": {
            "description": "ID of the directive tree containing the directive.",
            "type": "string",
            "x-cast-to": "int32",
            "x-reference-to": "directive_tree.directive_tree_id"
          }
        },
        "required": [
          "character_id",
          "directive_tier_id",
          "directive_tree_id"
        ],
        "examples": [
          {
            "characters_directive_tier_list": [
              {
                "character_id": "5428010618015189601",
                "directive_tree_id": "4",
                "directive_tier_id": "1",
                "completion_time": "1585080577",
                "completion_time_date": "2020-03-24 20:09:37.0"
              }
            ],
            "returned": 1
          }
        ]
      },
      "characters_directive_tree": {
        "type": "object",
        "description": "Directive tree completion information for a character.\n",
        "x-tags": [
          "Character Information"
        ],
        "properties": {
          "character_id": {
            "description": "Character for which the directive tree list is being returned.",
            "type": "string",
            "x-cast-to": "int64",
            "x-reference-to": "character.character_id"
          },
          "completion_time": {
            "description": "UTC timestamp of when the directive tree was completed. Zero if not completed.",
            "type": "string"
          },
          "completion_time_date": {
            "description": "Human-readable version of `completion_time`.",
            "type": "string"
          },
          "current_directive_tier_id": {
            "description": "Unique ID of the directive tier the character is currently on.",
            "type": "string",
            "x-cast-to": "int32",
            "x-reference-to": "directive_tier.directive_tier_id"
          },
          "current_level": {
            "description": "Defunct field. Always returns zero.",
            "type": "string",
            "x-cast-to": "int32"
          },
          "directive_tree_id": {
            "description": "ID of the directive tree.",
            "type": "string",
            "x-cast-to": "int32",
            "x-reference-to": "directive_tree.directive_tree_id"
          }
        },
        "required": [
          "character_id",
          "directive_tree_id"
        ],
        "examples": [
          {
            "characters_directive_tree_list": [
              {
                "character_id": "5428010618015189601",
                "directive_tree_id": "4",
                "current_directive_tier_id": "5",
                "current_level": "0",
                "completion_time": "1585080577",
                "completion_time_date": "2020-03-24 20:09:37.0"
              }
            ],
            "returned": 1
          }
        ]
      },
      "characters_directive": {
        "type": "object",
        "description": "Directive completion information for a character.\n\nNote that this also lists entries for incomplete directives; use the `completion_time` field to determine whether a directive has been completed.\n",
        "x-tags": [
          "Character Information"
        ],
        "properties": {
          "character_id": {
            "description": "Character for which the directive list is being returned.",
            "type": "string",
            "x-cast-to": "int64",
            "x-reference-to": "character.character_id"
          },
          "completion_time": {
            "description": "UTC timestamp of when the directive was completed. Zero if not completed.",
            "type": "string"
          },
          "completion_time_date": {
            "description": "Human-readable version of `completion_time`.",
            "type": "string"
          },
          "directive_id": {
            "description": "ID of the directive.",
            "type": "string",
            "x-cast-to": "int32",
            "x-reference-to": "directive.directive_id"
          },
          "directive_tree_id": {
            "description": "ID of the directive tree containing the directive.",
            "type": "string",
            "x-cast-to": "int32",
            "x-reference-to": "directive_tree.directive_tree_id"
          }
        },
        "required": [
          "character_id",
          "directive_id",
          "directive_tree_id"
        ],
        "examples": [
          {
            "characters_directive_list": [
              {
                "character_id": "5428010618015189601",
                "directive_tree_id": "28",
                "directive_id": "141",
                "completion_time": "1585080577",
                "completion_time_date": "2020-03-24 20:09:37.0"
              }
            ],
            "returned": 1
          }
        ]
      },
      "characters_event": {
        "description": "ReST endpoint for retrieving historical character event data.\n\nLike `event`, but allows querying by character. The `character_id` and `id` fields are interchangeable.\n",
        "x-tags": [
          "Event History"
        ],
        "oneOf": [
          {
            "allOf": [
              {
                "properties": {
                  "event_type": {
                    "description": "Name of the event.",
                    "type": "string"
                  },
                  "table_type": {
                    "description": "Internal name of the table.",
                    "type": "string"
                  },
                  "timestamp": {
                    "description": "UTC timestamp of the event.",
                    "type": "string"
                  },
                  "world_id": {
                    "description": "The ID of the world where the character ranked up.",
                    "type": "string",
                    "x-cast-to": "int32",
                    "x-reference-to": "world.world_id"
                  },
                  "zone_id": {
                    "description": "The ID of the zone where the character ranked up.",
                    "type": "string",
                    "x-cast-to": "int32",
                    "x-reference-to": "zone.zone_id"
                  }
                },
                "type": "object",
                "required": [
                  "timestamp",
                  "event_type",
                  "table_type",
                  "world_id",
                  "zone_id"
                ]
              },
              {
                "properties": {
                  "battle_rank": {
                    "description": "The new battle rank of the character.",
                    "type": "string",
                    "x-cast-to": "int32"
                  },
                  "event_type": {
                    "description": "Type of event. This generally matches the event types used by the ESS.",
                    "type": "string",
                    "x-cast-to": "int32"
                  }
                },
                "type": "object"
              }
            ]
          },
          {
            "allOf": [
              {
                "properties": {
                  "event_type": {
                    "description": "Name of the event.",
                    "type": "string"
                  },
                  "table_type": {
                    "description": "Internal name of the table.",
                    "type": "string"
                  },
                  "timestamp": {
                    "description": "UTC timestamp of the event.",
                    "type": "string"
                  },
                  "world_id": {
                    "description": "The ID of the world where the character ranked up.",
                    "type": "string",
                    "x-cast-to": "int32",
                    "x-reference-to": "world.world_id"
                  },
                  "zone_id": {
                    "description": "The ID of the zone where the character ranked up.",
                    "type": "string",
                    "x-cast-to": "int32",
                    "x-reference-to": "zone.zone_id"
                  }
                },
                "type": "object",
                "required": [
                  "timestamp",
                  "event_type",
                  "table_type",
                  "world_id",
                  "zone_id"
                ]
              },
              {
                "properties": {
                  "context": {
                    "description": "Identifier string for the conext in which the item was granted.",
                    "type": "string"
                  },
                  "event_type": {
                    "description": "Type of event. This generally matches the event types used by the ESS.",
                    "type": "string",
                    "x-cast-to": "int32"
                  },
                  "item_count": {
                    "description": "The number of items that were added.",
                    "type": "string",
                    "x-cast-to": "int32"
                  },
                  "item_id": {
                    "description": "The ID of the item that was added.",
                    "type": "string",
                    "x-cast-to": "int32",
                    "x-reference-to": "item.item_id"
                  }
                },
                "type": "object"
              }
            ]
          },
          {
            "allOf": [
              {
                "properties": {
                  "event_type": {
                    "description": "Name of the event.",
                    "type": "string"
                  },
                  "table_type": {
                    "description": "Internal name of the table.",
                    "type": "string"
                  },
                  "timestamp": {
                    "description": "UTC timestamp of the event.",
                    "type": "string"
                  },
                  "world_id": {
                    "description": "The ID of the world where the character ranked up.",
                    "type": "string",
                    "x-cast-to": "int32",
                    "x-reference-to": "world.world_id"
                  },
                  "zone_id": {
                    "description": "The ID of the zone where the character ranked up.",
                    "type": "string",
                    "x-cast-to": "int32",
                    "x-reference-to": "zone.zone_id"
                  }
                },
                "type": "object",
                "required": [
                  "timestamp",
                  "event_type",
                  "table_type",
                  "world_id",
                  "zone_id"
                ]
              },
              {
                "properties": {
                  "achievement_id": {
                    "description": "The ID of the achievement that was granted.",
                    "type": "string",
                    "x-cast-to": "int32",
                    "x-reference-to": "achievement.achievement_id"
                  },
                  "event_type": {
                    "description": "Type of event. This generally matches the event types used by the ESS.",
                    "type": "string",
                    "x-cast-to": "int32"
                  }
                },
                "type": "object"
              }
            ]
          },
          {
            "allOf": [
              {
                "properties": {
                  "event_type": {
                    "description": "Name of the event.",
                    "type": "string"
                  },
                  "table_type": {
                    "description": "Internal name of the table.",
                    "type": "string"
                  },
                  "timestamp": {
                    "description": "UTC timestamp of the event.",
                    "type": "string"
                  },
                  "world_id": {
                    "description": "The ID of the world where the character ranked up.",
                    "type": "string",
                    "x-cast-to": "int32",
                    "x-reference-to": "world.world_id"
                  },
                  "zone_id": {
                    "description": "The ID of the zone where the character ranked up.",
                    "type": "string",
                    "x-cast-to": "int32",
                    "x-reference-to": "zone.zone_id"
                  }
                },
                "type": "object",
                "required": [
                  "timestamp",
                  "event_type",
                  "table_type",
                  "world_id",
                  "zone_id"
                ]
              },
              {
                "properties": {
                  "attacker_character_id": {
                    "description": "The ID of the character that performed the kill.",
                    "type": "string",
                    "x-cast-to": "int64",
                    "x-reference-to": "character.character_id"
                  },
                  "attacker_fire_mode_id": {
                    "description": "The ID of the fire mode that was used to perform the kill.",
                    "type": "string",
                    "x-cast-to": "int32",
                    "x-reference-to": "fire_mode_2.fire_mode_id"
                  },
                  "attacker_vehicle_id": {
                    "description": "The ID of the vehicle that the attacker was in when they performed the kill.",
                    "type": "string",
                    "x-cast-to": "int32",
[...]
