openapi: "3.0.2"

info:
  title: PlanetSide 2 API Reference
  description: |
    These are community-maintained, inofficial docs for the [PlanetSide 2](https://www.planetside2.com/) API.

    This documentation is not endorsed by or affiliated with the PlanetSide 2 developer team or publisher. For more information, visit the project repository at <https://github.com/leonhard-s/ps2-api-docs>.

    ***

    ### A note regarding types

    According to the OpenAPI standard, a quoted integer (e.g. `"12"`) should be typed as a `string`.
    However, due to the PS2 API quoting nearly every value it returns, following this convention would make the type hints meaningless.
  version: "0.1"
  termsOfService: https://census.daybreakgames.com#services-api-policy

servers:
  - url: https://census.daybreakgames.com/

components:
  schemas:
    ability:
      $ref: ./components/schemas/ability.yml#/ability
    ability_type:
      $ref: ./components/schemas/ability_type.yml#/ability_type
    achievement:
      $ref: ./components/schemas/achievement.yml#/achievement
    armor_facing:
      $ref: ./components/schemas/armor_facing.yml#/armor_facing
    armor_info:
      $ref: ./components/schemas/armor_info.yml#/armor_info
    character:
      $ref: ./components/schemas/character.yml#/character
    character_name:
      $ref: ./components/schemas/character_name.yml#/character_name
    characters_achievement:
      $ref: ./components/schemas/characters_achievement.yml#/characters_achievement
    characters_currency:
      $ref: ./components/schemas/characters_currency.yml#/characters_currency
    characters_directive:
      $ref: ./components/schemas/characters_directive.yml#/characters_directive
    characters_directive_objective:
      $ref: ./components/schemas/characters_directive_objective.yml#/characters_directive_objective
    characters_directive_tier:
      $ref: ./components/schemas/characters_directive_tier.yml#/characters_directive_tier
    characters_directive_tree:
      $ref: ./components/schemas/characters_directive_tree.yml#/characters_directive_tree
    characters_event:
      $ref: ./components/schemas/characters_event.yml#/characters_event
    characters_event_grouped:
      $ref: ./components/schemas/characters_event_grouped.yml#/characters_event_grouped
    characters_friend:
      $ref: ./components/schemas/characters_friend.yml#/characters_friend
    characters_item:
      $ref: ./components/schemas/characters_item.yml#/characters_item
    characters_leaderboard:
      $ref: ./components/schemas/characters_leaderboard.yml#/characters_leaderboard
    characters_online_status:
      $ref: ./components/schemas/characters_online_status.yml#/characters_online_status
    characters_skill:
      $ref: ./components/schemas/characters_skill.yml#/characters_skill
    characters_stat:
      $ref: ./components/schemas/characters_stat.yml#/characters_stat
    characters_stat_by_faction:
      $ref: ./components/schemas/characters_stat_by_faction.yml#/characters_stat_by_faction
    characters_stat_history:
      $ref: ./components/schemas/characters_stat_history.yml#/characters_stat_history
    characters_weapon_stat:
      $ref: ./components/schemas/characters_weapon_stat.yml#/characters_weapon_stat
    characters_weapon_stat_by_faction:
      $ref: ./components/schemas/characters_weapon_stat_by_faction.yml#/characters_weapon_stat_by_faction
    characters_world:
      $ref: ./components/schemas/characters_world.yml#/characters_world
    currency:
      $ref: ./components/schemas/currency.yml#/currency
    datatype:
      $ref: ./components/schemas/datatype.yml#/datatype
    directive:
      $ref: ./components/schemas/directive.yml#/directive
    directive_tier:
      $ref: ./components/schemas/directive_tier.yml#/directive_tier
    directive_tree:
      $ref: ./components/schemas/directive_tree.yml#/directive_tree
    directive_tree_category:
      $ref: ./components/schemas/directive_tree_category.yml#/directive_tree_category
    effect:
      $ref: ./components/schemas/effect.yml#/effect
    effect_type:
      $ref: ./components/schemas/effect_type.yml#/effect_type
    empire_scores:
      $ref: ./components/schemas/empire_scores.yml#/empire_scores
    event:
      $ref: ./components/schemas/event.yml#/event
    experience:
      $ref: ./components/schemas/experience.yml#/experience
    experience_rank:
      $ref: ./components/schemas/experience_rank.yml#/experience_rank
    facility_link:
      $ref: ./components/schemas/facility_link.yml#/facility_link
    facility_type:
      $ref: ./components/schemas/facility_type.yml#/facility_type
    faction:
      $ref: ./components/schemas/faction.yml#/faction
    fire_group:
      $ref: ./components/schemas/fire_group.yml#/fire_group
    fire_group_to_fire_mode:
      $ref: ./components/schemas/fire_group_to_fire_mode.yml#/fire_group_to_fire_mode
    fire_mode:
      $ref: ./components/schemas/fire_mode.yml#/fire_mode
    fire_mode_2:
      $ref: ./components/schemas/fire_mode_2.yml#/fire_mode_2
    fire_mode_to_projectile:
      $ref: ./components/schemas/fire_mode_to_projectile.yml#/fire_mode_to_projectile
    fire_mode_type:
      $ref: ./components/schemas/fire_mode_type.yml#/fire_mode_type
    image:
      $ref: ./components/schemas/image.yml#/image
    image_set:
      $ref: ./components/schemas/image_set.yml#/image_set
    image_set_default:
      $ref: ./components/schemas/image_set_default.yml#/image_set_default
    item:
      $ref: ./components/schemas/item.yml#/item
    item_attachment:
      $ref: ./components/schemas/item_attachment.yml#/item_attachment
    item_category:
      $ref: ./components/schemas/item_category.yml#/item_category
    item_profile:
      $ref: ./components/schemas/item_profile.yml#/item_profile
    item_to_weapon:
      $ref: ./components/schemas/item_to_weapon.yml#/item_to_weapon
    item_type:
      $ref: ./components/schemas/item_type.yml#/item_type
    leaderboard:
      $ref: ./components/schemas/leaderboard.yml#/leaderboard
    loadout:
      $ref: ./components/schemas/loadout.yml#/loadout
    map:
      $ref: ./components/schemas/map.yml#/map
    map_hex:
      $ref: ./components/schemas/map_hex.yml#/map_hex
    map_region:
      $ref: ./components/schemas/map_region.yml#/map_region
    marketing_bundle:
      $ref: ./components/schemas/marketing_bundle.yml#/marketing_bundle
    marketing_bundle_item:
      $ref: ./components/schemas/marketing_bundle_item.yml#/marketing_bundle_item
    marketing_bundle_with_1_item:
      $ref: ./components/schemas/marketing_bundle_with_1_item.yml#/marketing_bundle_with_1_item
    metagame_event:
      $ref: ./components/schemas/metagame_event.yml#/metagame_event
    metagame_event_state:
      $ref: ./components/schemas/metagame_event_state.yml#/metagame_event_state
    objective:
      $ref: ./components/schemas/objective.yml#/objective
    objective_set_to_objective:
      $ref: ./components/schemas/objective_set_to_objective.yml#/objective_set_to_objective
    objective_type:
      $ref: ./components/schemas/objective_type.yml#/objective_type
    outfit:
      $ref: ./components/schemas/outfit.yml#/outfit
    outfit_member:
      $ref: ./components/schemas/outfit_member.yml#/outfit_member
    outfit_member_extended:
      $ref: ./components/schemas/outfit_member_extended.yml#/outfit_member_extended
    outfit_rank:
      $ref: ./components/schemas/outfit_rank.yml#/outfit_rank
    player_state:
      $ref: ./components/schemas/player_state.yml#/player_state
    player_state_group:
      $ref: ./components/schemas/player_state_group.yml#/player_state_group
    player_state_group_2:
      $ref: ./components/schemas/player_state_group_2.yml#/player_state_group_2
    profile:
      $ref: ./components/schemas/profile.yml#/profile
    profile_2:
      $ref: ./components/schemas/profile_2.yml#/profile_2
    profile_armor_map:
      $ref: ./components/schemas/profile_armor_map.yml#/profile_armor_map
    profile_resist_map:
      $ref: ./components/schemas/profile_resist_map.yml#/profile_resist_map
    projectile:
      $ref: ./components/schemas/projectile.yml#/projectile
    projectile_flight_type:
      $ref: ./components/schemas/projectile_flight_type.yml#/projectile_flight_type
    region:
      $ref: ./components/schemas/region.yml#/region
    resist_info:
      $ref: ./components/schemas/resist_info.yml#/resist_info
    resist_type:
      $ref: ./components/schemas/resist_type.yml#/resist_type
    resource_type:
      $ref: ./components/schemas/resource_type.yml#/resource_type
    reward:
      $ref: ./components/schemas/reward.yml#/reward
    reward_group_to_reward:
      $ref: ./components/schemas/reward_group_to_reward.yml#/reward_group_to_reward
    reward_set_to_reward_group:
      $ref: ./components/schemas/reward_set_to_reward_group.yml#/reward_set_to_reward_group
    reward_type:
      $ref: ./components/schemas/reward_type.yml#/reward_type
    single_character_by_id:
      $ref: ./components/schemas/single_character_by_id.yml#/single_character_by_id
    skill:
      $ref: ./components/schemas/skill.yml#/skill
    skill_category:
      $ref: ./components/schemas/skill_category.yml#/skill_category
    skill_line:
      $ref: ./components/schemas/skill_line.yml#/skill_line
    skill_set:
      $ref: ./components/schemas/skill_set.yml#/skill_set
    target_type:
      $ref: ./components/schemas/target_type.yml#/target_type
    title:
      $ref: ./components/schemas/title.yml#/title
    vehicle:
      $ref: ./components/schemas/vehicle.yml#/vehicle
    vehicle_attachment:
      $ref: ./components/schemas/vehicle_attachment.yml#/vehicle_attachment
    vehicle_faction:
      $ref: ./components/schemas/vehicle_faction.yml#/vehicle_faction
    vehicle_skill_set:
      $ref: ./components/schemas/vehicle_skill_set.yml#/vehicle_skill_set
    weapon:
      $ref: ./components/schemas/weapon.yml#/weapon
    weapon_ammo_slot:
      $ref: ./components/schemas/weapon_ammo_slot.yml#/weapon_ammo_slot
    weapon_datasheet:
      $ref: ./components/schemas/weapon_datasheet.yml#/weapon_datasheet
    weapon_to_attachment:
      $ref: ./components/schemas/weapon_to_attachment.yml#/weapon_to_attachment
    weapon_to_fire_group:
      $ref: ./components/schemas/weapon_to_fire_group.yml#/weapon_to_fire_group
    world:
      $ref: ./components/schemas/world.yml#/world
    world_event:
      $ref: ./components/schemas/world_event.yml#/world_event
    world_stat_history:
      $ref: ./components/schemas/world_stat_history.yml#/world_stat_history
    zone:
      $ref: ./components/schemas/zone.yml#/zone
    zone_effect:
      $ref: ./components/schemas/zone_effect.yml#/zone_effect
    zone_effect_type:
      $ref: ./components/schemas/zone_effect_type.yml#/zone_effect_type

  examples:
    ability:
      value:
        $ref: ./components/examples/ability.json
    ability_type:
      value:
        $ref: ./components/examples/ability_type.json
    achievement:
      value:
        $ref: ./components/examples/achievement.json
    armor_facing:
      value:
        $ref: ./components/examples/armor_facing.json
    armor_info:
      value:
        $ref: ./components/examples/armor_info.json
    character:
      value:
        $ref: ./components/examples/character.json
    character_name:
      value:
        $ref: ./components/examples/character_name.json
    characters_achievement:
      value:
        $ref: ./components/examples/characters_achievement.json
    characters_currency:
      value:
        $ref: ./components/examples/characters_currency.json
    characters_directive:
      value:
        $ref: ./components/examples/characters_directive.json
    characters_directive_objective:
      value:
        $ref: ./components/examples/characters_directive_objective.json
    characters_directive_tier:
      value:
        $ref: ./components/examples/characters_directive_tier.json
    characters_directive_tree:
      value:
        $ref: ./components/examples/characters_directive_tree.json
    characters_event:
      value:
        $ref: ./components/examples/characters_event.json
    characters_event_grouped:
      value:
        $ref: ./components/examples/characters_event_grouped.json
    characters_friend:
      value:
        $ref: ./components/examples/characters_friend.json
    characters_item:
      value:
        $ref: ./components/examples/characters_item.json
    characters_leaderboard:
      value:
        $ref: ./components/examples/characters_leaderboard.json
    characters_online_status:
      value:
        $ref: ./components/examples/characters_online_status.json
    characters_skill:
      value:
        $ref: ./components/examples/characters_skill.json
    characters_stat:
      value:
        $ref: ./components/examples/characters_stat.json
    characters_stat_by_faction:
      value:
        $ref: ./components/examples/characters_stat_by_faction.json
    characters_stat_history:
      value:
        $ref: ./components/examples/characters_stat_history.json
    characters_weapon_stat:
      value:
        $ref: ./components/examples/characters_weapon_stat.json
    characters_weapon_stat_by_faction:
      value:
        $ref: ./components/examples/characters_weapon_stat_by_faction.json
    characters_world:
      value:
        $ref: ./components/examples/characters_world.json
    currency:
      value:
        $ref: ./components/examples/currency.json
    datatype:
      value:
        $ref: ./components/examples/datatype.json
    directive:
      value:
        $ref: ./components/examples/directive.json
    directive_tier:
      value:
        $ref: ./components/examples/directive_tier.json
    directive_tree:
      value:
        $ref: ./components/examples/directive_tree.json
    directive_tree_category:
      value:
        $ref: ./components/examples/directive_tree_category.json
    effect:
      value:
        $ref: ./components/examples/effect.json
    effect_type:
      value:
        $ref: ./components/examples/effect_type.json
    empire_scores:
      value:
        $ref: ./components/examples/empire_scores.json
    event:
      value:
        $ref: ./components/examples/event.json
    experience:
      value:
        $ref: ./components/examples/experience.json
    experience_rank:
      value:
        $ref: ./components/examples/experience_rank.json
    facility_link:
      value:
        $ref: ./components/examples/facility_link.json
    facility_type:
      value:
        $ref: ./components/examples/facility_type.json
    faction:
      value:
        $ref: ./components/examples/faction.json
    fire_group:
      value:
        $ref: ./components/examples/fire_group.json
    fire_group_to_fire_mode:
      value:
        $ref: ./components/examples/fire_group_to_fire_mode.json
    fire_mode:
      value:
        $ref: ./components/examples/fire_mode.json
    fire_mode_2:
      value:
        $ref: ./components/examples/fire_mode_2.json
    fire_mode_to_projectile:
      value:
        $ref: ./components/examples/fire_mode_to_projectile.json
    fire_mode_type:
      value:
        $ref: ./components/examples/fire_mode_type.json
    image:
      value:
        $ref: ./components/examples/image.json
    image_set:
      value:
        $ref: ./components/examples/image_set.json
    image_set_default:
      value:
        $ref: ./components/examples/image_set_default.json
    item:
      value:
        $ref: ./components/examples/item.json
    item_attachment:
      value:
        $ref: ./components/examples/item_attachment.json
    item_category:
      value:
        $ref: ./components/examples/item_category.json
    item_profile:
      value:
        $ref: ./components/examples/item_profile.json
    item_to_weapon:
      value:
        $ref: ./components/examples/item_to_weapon.json
    item_type:
      value:
        $ref: ./components/examples/item_type.json
    leaderboard:
      value:
        $ref: ./components/examples/leaderboard.json
    loadout:
      value:
        $ref: ./components/examples/loadout.json
    map:
      value:
        $ref: ./components/examples/map.json
    map_hex:
      value:
        $ref: ./components/examples/map_hex.json
    map_region:
      value:
        $ref: ./components/examples/map_region.json
    marketing_bundle:
      value:
        $ref: ./components/examples/marketing_bundle.json
    marketing_bundle_item:
      value:
        $ref: ./components/examples/marketing_bundle_item.json
    marketing_bundle_with_1_item:
      value:
        $ref: ./components/examples/marketing_bundle_with_1_item.json
    metagame_event:
      value:
        $ref: ./components/examples/metagame_event.json
    metagame_event_state:
      value:
        $ref: ./components/examples/metagame_event_state.json
    objective:
      value:
        $ref: ./components/examples/objective.json
    objective_set_to_objective:
      value:
        $ref: ./components/examples/objective_set_to_objective.json
    objective_type:
      value:
        $ref: ./components/examples/objective_type.json
    outfit:
      value:
        $ref: ./components/examples/outfit.json
    outfit_member:
      value:
        $ref: ./components/examples/outfit_member.json
    outfit_member_extended:
      value:
        $ref: ./components/examples/outfit_member_extended.json
    outfit_rank:
      value:
        $ref: ./components/examples/outfit_rank.json
    player_state:
      value:
        $ref: ./components/examples/player_state.json
    player_state_group:
      value:
        $ref: ./components/examples/player_state_group.json
    player_state_group_2:
      value:
        $ref: ./components/examples/player_state_group_2.json
    profile:
      value:
        $ref: ./components/examples/profile.json
    profile_2:
      value:
        $ref: ./components/examples/profile_2.json
    profile_armor_map:
      value:
        $ref: ./components/examples/profile_armor_map.json
    profile_resist_map:
      value:
        $ref: ./components/examples/profile_resist_map.json
    projectile:
      value:
        $ref: ./components/examples/projectile.json
    projectile_flight_type:
      value:
        $ref: ./components/examples/projectile_flight_type.json
    region:
      value:
        $ref: ./components/examples/region.json
    resist_info:
      value:
        $ref: ./components/examples/resist_info.json
    resist_type:
      value:
        $ref: ./components/examples/resist_type.json
    resource_type:
      value:
        $ref: ./components/examples/resource_type.json
    reward:
      value:
        $ref: ./components/examples/reward.json
    reward_group_to_reward:
      value:
        $ref: ./components/examples/reward_group_to_reward.json
    reward_set_to_reward_group:
      value:
        $ref: ./components/examples/reward_set_to_reward_group.json
    reward_type:
      value:
        $ref: ./components/examples/reward_type.json
    single_character_by_id:
      value:
        $ref: ./components/examples/single_character_by_id.json
    skill:
      value:
        $ref: ./components/examples/skill.json
    skill_category:
      value:
        $ref: ./components/examples/skill_category.json
    skill_line:
      value:
        $ref: ./components/examples/skill_line.json
    skill_set:
      value:
        $ref: ./components/examples/skill_set.json
    target_type:
      value:
        $ref: ./components/examples/target_type.json
    title:
      value:
        $ref: ./components/examples/title.json
    vehicle:
      value:
        $ref: ./components/examples/vehicle.json
    vehicle_attachment:
      value:
        $ref: ./components/examples/vehicle_attachment.json
    vehicle_faction:
      value:
        $ref: ./components/examples/vehicle_faction.json
    vehicle_skill_set:
      value:
        $ref: ./components/examples/vehicle_skill_set.json
    weapon:
      value:
        $ref: ./components/examples/weapon.json
    weapon_ammo_slot:
      value:
        $ref: ./components/examples/weapon_ammo_slot.json
    weapon_datasheet:
      value:
        $ref: ./components/examples/weapon_datasheet.json
    weapon_to_attachment:
      value:
        $ref: ./components/examples/weapon_to_attachment.json
    weapon_to_fire_group:
      value:
        $ref: ./components/examples/weapon_to_fire_group.json
    world:
      value:
        $ref: ./components/examples/world.json
    world_event:
      value:
        $ref: ./components/examples/world_event.json
    world_stat_history:
      value:
        $ref: ./components/examples/world_stat_history.json
    zone:
      value:
        $ref: ./components/examples/zone.json
    zone_effect:
      value:
        $ref: ./components/examples/zone_effect.json
    zone_effect_type:
      value:
        $ref: ./components/examples/zone_effect_type.json

paths:
  /get/ps2:v2:
    $ref: ./paths/get_datatype.yml
  /get/ps2:v2/ability:
    $ref: ./paths/get_ability.yml
  /get/ps2:v2/ability_type:
    $ref: ./paths/get_ability_type.yml
  /get/ps2:v2/achievement:
    $ref: ./paths/get_achievement.yml
  /get/ps2:v2/armor_facing:
    $ref: ./paths/get_armor_facing.yml
  /get/ps2:v2/armor_info:
    $ref: ./paths/get_armor_info.yml
  /get/ps2:v2/character:
    $ref: ./paths/get_character.yml
  /get/ps2:v2/character_name:
    $ref: ./paths/get_character_name.yml
  /get/ps2:v2/characters_achievement:
    $ref: ./paths/get_characters_achievement.yml
  /get/ps2:v2/characters_currency:
    $ref: ./paths/get_characters_currency.yml
  /get/ps2:v2/characters_directive:
    $ref: ./paths/get_characters_directive.yml
  /get/ps2:v2/characters_directive_objective:
    $ref: ./paths/get_characters_directive_objective.yml
  /get/ps2:v2/characters_directive_tier:
    $ref: ./paths/get_characters_directive_tier.yml
  /get/ps2:v2/characters_directive_tree:
    $ref: ./paths/get_characters_directive_tree.yml
  /get/ps2:v2/characters_event:
    $ref: ./paths/get_characters_event.yml
  /get/ps2:v2/characters_event_grouped:
    $ref: ./paths/get_characters_event_grouped.yml
  /get/ps2:v2/characters_friend:
    $ref: ./paths/get_characters_friend.yml
  /get/ps2:v2/characters_item:
    $ref: ./paths/get_characters_item.yml
  /get/ps2:v2/characters_leaderboard:
    $ref: ./paths/get_characters_leaderboard.yml
  /get/ps2:v2/characters_online_status:
    $ref: ./paths/get_characters_online_status.yml
  /get/ps2:v2/characters_skill:
    $ref: ./paths/get_characters_skill.yml
  /get/ps2:v2/characters_stat:
    $ref: ./paths/get_characters_stat.yml
  /get/ps2:v2/characters_stat_by_faction:
    $ref: ./paths/get_characters_stat_by_faction.yml
  /get/ps2:v2/characters_stat_history:
    $ref: ./paths/get_characters_stat_history.yml
  /get/ps2:v2/characters_weapon_stat:
    $ref: ./paths/get_characters_weapon_stat.yml
  /get/ps2:v2/characters_weapon_stat_by_faction:
    $ref: ./paths/get_characters_weapon_stat_by_faction.yml
  /get/ps2:v2/characters_world:
    $ref: ./paths/get_characters_world.yml
  /get/ps2:v2/currency:
    $ref: ./paths/get_currency.yml
  /get/ps2:v2/directive:
    $ref: ./paths/get_directive.yml
  /get/ps2:v2/directive_tier:
    $ref: ./paths/get_directive_tier.yml
  /get/ps2:v2/directive_tree:
    $ref: ./paths/get_directive_tree.yml
  /get/ps2:v2/directive_tree_category:
    $ref: ./paths/get_directive_tree_category.yml
  /get/ps2:v2/effect:
    $ref: ./paths/get_effect.yml
  /get/ps2:v2/effect_type:
    $ref: ./paths/get_effect_type.yml
  /get/ps2:v2/empire_scores:
    $ref: ./paths/get_empire_scores.yml
  /get/ps2:v2/event:
    $ref: ./paths/get_event.yml
  /get/ps2:v2/experience:
    $ref: ./paths/get_experience.yml
  /get/ps2:v2/experience_rank:
    $ref: ./paths/get_experience_rank.yml
  /get/ps2:v2/facility_link:
    $ref: ./paths/get_facility_link.yml
  /get/ps2:v2/facility_type:
    $ref: ./paths/get_facility_type.yml
  /get/ps2:v2/faction:
    $ref: ./paths/get_faction.yml
  /get/ps2:v2/fire_group:
    $ref: ./paths/get_fire_group.yml
  /get/ps2:v2/fire_group_to_fire_mode:
    $ref: ./paths/get_fire_group_to_fire_mode.yml
  /get/ps2:v2/fire_mode:
    $ref: ./paths/get_fire_mode.yml
  /get/ps2:v2/fire_mode_2:
    $ref: ./paths/get_fire_mode_2.yml
  /get/ps2:v2/fire_mode_to_projectile:
    $ref: ./paths/get_fire_mode_to_projectile.yml
  /get/ps2:v2/fire_mode_type:
    $ref: ./paths/get_fire_mode_type.yml
  /get/ps2:v2/image:
    $ref: ./paths/get_image.yml
  /get/ps2:v2/image_set:
    $ref: ./paths/get_image_set.yml
  /get/ps2:v2/image_set_default:
    $ref: ./paths/get_image_set_default.yml
  /get/ps2:v2/item:
    $ref: ./paths/get_item.yml
  /get/ps2:v2/item_attachment:
    $ref: ./paths/get_item_attachment.yml
  /get/ps2:v2/item_category:
    $ref: ./paths/get_item_category.yml
  /get/ps2:v2/item_profile:
    $ref: ./paths/get_item_profile.yml
  /get/ps2:v2/item_to_weapon:
    $ref: ./paths/get_item_to_weapon.yml
  /get/ps2:v2/item_type:
    $ref: ./paths/get_item_type.yml
  /get/ps2:v2/leaderboard:
    $ref: ./paths/get_leaderboard.yml
  /get/ps2:v2/loadout:
    $ref: ./paths/get_loadout.yml
  /get/ps2:v2/map:
    $ref: ./paths/get_map.yml
  /get/ps2:v2/map_hex:
    $ref: ./paths/get_map_hex.yml
  /get/ps2:v2/map_region:
    $ref: ./paths/get_map_region.yml
  /get/ps2:v2/marketing_bundle:
    $ref: ./paths/get_marketing_bundle.yml
  /get/ps2:v2/marketing_bundle_item:
    $ref: ./paths/get_marketing_bundle_item.yml
  /get/ps2:v2/marketing_bundle_with_1_item:
    $ref: ./paths/get_marketing_bundle_with_1_item.yml
  /get/ps2:v2/metagame_event:
    $ref: ./paths/get_metagame_event.yml
  /get/ps2:v2/metagame_event_state:
    $ref: ./paths/get_metagame_event_state.yml
  /get/ps2:v2/objective:
    $ref: ./paths/get_objective.yml
  /get/ps2:v2/objective_set_to_objective:
    $ref: ./paths/get_objective_set_to_objective.yml
  /get/ps2:v2/objective_type:
    $ref: ./paths/get_objective_type.yml
  /get/ps2:v2/outfit:
    $ref: ./paths/get_outfit.yml
  /get/ps2:v2/outfit_member:
    $ref: ./paths/get_outfit_member.yml
  /get/ps2:v2/outfit_member_extended:
    $ref: ./paths/get_outfit_member_extended.yml
  /get/ps2:v2/outfit_rank:
    $ref: ./paths/get_outfit_rank.yml
  /get/ps2:v2/player_state:
    $ref: ./paths/get_player_state.yml
  /get/ps2:v2/player_state_group:
    $ref: ./paths/get_player_state_group.yml
  /get/ps2:v2/player_state_group_2:
    $ref: ./paths/get_player_state_group_2.yml
  /get/ps2:v2/profile:
    $ref: ./paths/get_profile.yml
  /get/ps2:v2/profile_2:
    $ref: ./paths/get_profile_2.yml
  /get/ps2:v2/profile_armor_map:
    $ref: ./paths/get_profile_armor_map.yml
  /get/ps2:v2/profile_resist_map:
    $ref: ./paths/get_profile_resist_map.yml
  /get/ps2:v2/projectile:
    $ref: ./paths/get_projectile.yml
  /get/ps2:v2/projectile_flight_type:
    $ref: ./paths/get_projectile_flight_type.yml
  /get/ps2:v2/region:
    $ref: ./paths/get_region.yml
  /get/ps2:v2/resist_info:
    $ref: ./paths/get_resist_info.yml
  /get/ps2:v2/resist_type:
    $ref: ./paths/get_resist_type.yml
  /get/ps2:v2/resource_type:
    $ref: ./paths/get_resource_type.yml
  /get/ps2:v2/reward:
    $ref: ./paths/get_reward.yml
  /get/ps2:v2/reward_group_to_reward:
    $ref: ./paths/get_reward_group_to_reward.yml
  /get/ps2:v2/reward_set_to_reward_group:
    $ref: ./paths/get_reward_set_to_reward_group.yml
  /get/ps2:v2/reward_type:
    $ref: ./paths/get_reward_type.yml
  /get/ps2:v2/single_character_by_id:
    $ref: ./paths/get_single_character_by_id.yml
  /get/ps2:v2/skill:
    $ref: ./paths/get_skill.yml
  /get/ps2:v2/skill_category:
    $ref: ./paths/get_skill_category.yml
  /get/ps2:v2/skill_line:
    $ref: ./paths/get_skill_line.yml
  /get/ps2:v2/skill_set:
    $ref: ./paths/get_skill_set.yml
  /get/ps2:v2/target_type:
    $ref: ./paths/get_target_type.yml
  /get/ps2:v2/title:
    $ref: ./paths/get_title.yml
  /get/ps2:v2/vehicle:
    $ref: ./paths/get_vehicle.yml
  /get/ps2:v2/vehicle_attachment:
    $ref: ./paths/get_vehicle_attachment.yml
  /get/ps2:v2/vehicle_faction:
    $ref: ./paths/get_vehicle_faction.yml
  /get/ps2:v2/vehicle_skill_set:
    $ref: ./paths/get_vehicle_skill_set.yml
  /get/ps2:v2/weapon:
    $ref: ./paths/get_weapon.yml
  /get/ps2:v2/weapon_ammo_slot:
    $ref: ./paths/get_weapon_ammo_slot.yml
  /get/ps2:v2/weapon_datasheet:
    $ref: ./paths/get_weapon_datasheet.yml
  /get/ps2:v2/weapon_to_attachment:
    $ref: ./paths/get_weapon_to_attachment.yml
  /get/ps2:v2/weapon_to_fire_group:
    $ref: ./paths/get_weapon_to_fire_group.yml
  /get/ps2:v2/world:
    $ref: ./paths/get_world.yml
  /get/ps2:v2/world_event:
    $ref: ./paths/get_world_event.yml
  /get/ps2:v2/world_stat_history:
    $ref: ./paths/get_world_stat_history.yml
  /get/ps2:v2/zone:
    $ref: ./paths/get_zone.yml
  /get/ps2:v2/zone_effect:
    $ref: ./paths/get_zone_effect.yml
  /get/ps2:v2/zone_effect_type:
    $ref: ./paths/get_zone_effect_type.yml
