name: Generate JSON spec

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Install Python dependencies
        run: |
          python -m pip install -r ./tools/requirements.txt
      - name: Generate JSON spec
        run: |
          python ./tools/generate_json_spec.py ./openapi.yaml ./generated/openapi.json
      - name: Configure Git
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
      - name: Filter changes
        run: |
          git add ./generated/openapi.json
          git stash save --keep-index --include-untracked
      - name: Commit and push relevant changes
        continue-on-error: true
        if: env.GITHUB_REF_TYPE != 'tag'
        run: |
          git commit -m "Update monolithic JSON spec"
          git push origin ${GITHUB_REF_NAME}
